{% comment %}
    Renders "Sold Out" badge for product.

    Accepts:
    - product:      {Object}
    - size:         {String}
{% endcomment %}

{%- liquid
    assign position = settings.badge_soldout__position
    assign text = settings.badge_soldout__text | escape
    assign size = size | default: '1'
    assign bgColor = settings.colors_badge_soldout_background_gradient | default: settings.colors_badge_soldout_background
    assign textColor = settings.colors_badge_soldout_foreground
    assign border_radius = settings.badges_border_radius_value | append: 'rem'
    assign opacity = '0.85'
-%}

{%- unless product.available or text == blank -%}
    <div
        class="badge badge-size-{{ size }} badge-soldout {{ position }}"
        style="border-radius:{{ border_radius }};color:{{ textColor }};background:{{ bgColor }};opacity:{{ opacity }}"
        aria-hidden="true"
    >
        {{ text }}
    </div>
{%- endunless -%}
