{% comment %}
    Renders an item for articles grid.

    Accepts:
    - collection:       {Object} Collection Liquid object
    - grid_columns:     {Number} Number of columns in grid. Used to figure out additional tailwind classes and image widths for IMG scrcset.
    - block:            {Object} (optional)
    - image_position:   {String} (contain / cover)
    - item_bg_color:    {String}
{% endcomment %}
{%- liquid
case grid_columns
    when 2
        assign image_width = '574'
        assign image_sizes = '(max-width: 767px) calc((100vw - 1rem - 2rem) / 2), (max-width: 1279px) calc((100vw - 1rem - 6rem) / 2), {image_width}px'
    when 3
        assign image_width = '574'
        assign image_sizes = '(max-width: 767px) calc((100vw - 1rem - 2rem) / 2), (max-width: 1279px) calc((100vw - 2rem - 6rem) / 3), 371px'
    when 4
        assign image_width = '574'
        assign image_sizes = '(max-width: 767px) calc((100vw - 1rem - 2rem) / 2), (max-width: 1023px) calc((100vw - 2rem - 6rem) / 3), (max-width: 1279px) calc((100vw - 3rem - 8rem) / 4), 270px'
    when 5
        assign image_width = '574'
        assign image_sizes = '(max-width: 767px) calc((100vw - 1rem - 2rem) / 2), (max-width: 1023px) calc((100vw - 2rem - 6rem) / 3), (max-width: 1279px) calc((100vw - 3rem - 8rem) / 4), 214px'
endcase
assign image_sizes = image_sizes | replace: '{image_width}', image_width
-%}

<li class="{% if collection_type == 'slider' %}grid-item{% else %}item-collection{% endif %} reveal-item"
    data-collection-id="{{ collection.id }}" {{ block.shopify_attributes }}
    {% if show_border %}style="border: 1px solid var(--color-foreground){% endif %}"
>
    <a href="{{ collection.url }}" class="item-link" aria-label="collection--{{ collection.id }}"
        {% if item_bg_color %}style="background:{{ item_bg_color  }};"{% endif %}
    >
        {% if image_position == 'contain' %}<div class="item-image">{% endif %}
            {%- if collection.featured_image %}
                <div class="media"
                    style="padding-bottom:{% if image_ratio == 'adapt-to-image' %}{{ 100 | divided_by: collection.featured_image.aspect_ratio }}{% else %}100{% endif %}%"
                >
                    {% render 'render-image',
                        image: collection.featured_image,
                        width: image_width,
                        sizes: image_sizes,
                        css_class: image_css_class
                    %}
                </div>
            {% else %}
                <div class="media" style="padding-bottom:100%">
                    {{ 'collection-1' | placeholder_svg_tag }}
                </div>
            {% endif -%}
        {% if image_position == 'contain' %}</div>{% endif %}
        {%- if collection_type == 'slider' -%}
        <span class="h3 item-title" style="{% if title_color != blank %}color: {{ title_color }};{% endif %}{% if title_bg_color != blank %}background: {{ title_bg_color }};{% endif %}">
            {% if collection.title -%}
                {{ collection.title }}
            {%- else -%}
                {{ 'onboarding.collection_title' | t }}
            {%- endif %}
        </span>
        {%- endif -%}

        {%- unless collection_type == 'slider' -%}
        <div class="item-guide">
            <div class="item-title" style="font-size: {{ section.settings.collection_title_size }}px">{% if collection.title -%}
                {{ collection.title }}
            {%- else -%}
                {{ 'onboarding.collection_title' | t }}
            {%- endif %}
            {%- assign product_count = collection.all_products_count | default: 0 -%}
            <span class="products-count">{{ 'sections.collection_list.product_count' | t: count: product_count }}</span>
            </div>
            {% if collection.description %}
            <p class="item-description">
                {%- assign truncatewords = truncate_desc | plus: 0 -%}
                {%- if truncatewords > 0 -%}
                {{ collection.description | strip_html | truncatewords: truncatewords }}
                {%- else -%}
                {{ collection.description | strip_html }}
                {%- endif -%}
            </p>
            {% endif %}
        </div>
        {%- endunless -%}
    </a>
</li>
