{% comment %}
      Render Blocks Image with text

      Accepts:
    - block   {Object}
{% endcomment %}

{%- for block in blocks -%}
    {% case block.type %}
        {%- when 'heading' -%}
            <h2 class="heading title" {{ block.shopify_attributes }}>
                {{ block.settings.heading | escape }}
            </h2>
        {%- when 'text' -%}
            <div class="image-with-text__text rte" {{ block.shopify_attributes }}>{{ block.settings.text }}</div>
        {%- when 'button' -%}
            {%- if block.settings.button_label != blank and block.settings.button_link != blank -%}
                <div class="action">
                    <a
                        href="{{ block.settings.button_link }}"
                        class="button button--primary{% if settings.show_button_ring_on_hover %} border--outline{% endif %}"
                        {% if block.settings.button_link == blank %}
                            aria-disabled="true"
                        {% endif %}
                        {{ block.shopify_attributes }}
                    >
                        {{ block.settings.button_label | escape }}
                    </a>
                </div>
            {%- endif -%}
    {%- endcase -%}
{%- endfor -%}
