{%- comment -%}
    Renders a product modal with all of media.

    Accepts:
    - product: {Object} Product object
    - modal_id: {String} The product modal ID
{%- endcomment -%}

<product-modal id="ProductModal-{{ modal_id }}" class="product-media-modal">
    <div role="dialog" aria-label="{{ 'products.modal.label' | t }}" aria-modal="true" tabindex="-1">
        <button
            id="ModalClose-{{ modal_id }}"
            type="button"
            class="product-media-modal__toggle modal__close-button"
            aria-label="{{ 'accessibility.close' | t }}"
        >
            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close">
                <use href="#icon-close" />
            </svg>
        </button>
        <button
            class="modal__zoom-button"
            type="button"
            title="{{ 'accessibility.zoom' | t }}"
            aria-label="{{ 'accessibility.zoom' | t }}"
        >
            <span class="zoom_in">
                {%- render 'icon-zoom' -%}
            </span>
            <span class="zoom_out" hidden>
                {%- render 'icon-zoom-minus' -%}
            </span>
        </button>
        <div
            class="product-media-modal__content"
            role="document"
            aria-label="{{ 'products.modal.label' | t }}"
            tabindex="0"
        >
            <div class="product-media-modal--inner">
                {%- render 'product-modal--inner', medias: product.media -%}
            </div>
            {% if product.media.size > 1 %}
                {% assign mediaWdth = 75 %}
                <div class="product-media-modal__thumbs scrollbar scrollbar-thin">
                    {%- for media in product.media -%}
                        <a href="#/" data-media-id="{{ media.id }}" title="{{ media.alt }}">
                            {{ media.preview_image | image_url: width: mediaWdth | image_tag: loading: 'lazy' }}
                        </a>
                    {%- endfor -%}
                </div>
            {% endif %}
        </div>
    </div>
</product-modal>

<script src="{{ 'product-modal.js' | asset_url }}" defer="defer"></script>
