{{ 'section-footer.css' | asset_url | stylesheet_tag }}

{%- assign newsletter = section.blocks | where: 'type', 'newsletter' -%}
{% if newsletter.size > 0 -%}
    {{ 'component-newsletter-footer.css' | asset_url | stylesheet_tag }}
{%- endif %}

{%- liquid
    assign sectionId = '#shopify-section-' | append: section.id
    if settings.colors_footer_background_gradient == empty
        assign footerBackgroundColor = settings.colors_footer_background
    else
        assign footerBackgroundColor = settings.colors_footer_background_gradient
    endif

    assign sectionWidth = 'dynamic-page-width'
    if section.settings.full_width
        assign sectionWidth = 'full--width'
    endif
    assign css_classes = 'footer-inner' | append: ' ' | append: sectionWidth
    if settings.animation_on_reveal
        assign css_classes = css_classes | append: ' ' | append: 'reveal-slide-in'
    endif

    assign customLiquid = section.blocks | where: 'type', 'custom_liquid' | first
-%}

{% style %}
    :root {
        --footer--background-color: {{ footerBackgroundColor }};
        --footer--foreground-color-rgb: {{ settings.colors_footer_foreground.red }}, {{ settings.colors_footer_foreground.green }}, {{ settings.colors_footer_foreground.blue }};
        --footer--text-color: rgba(var(--footer--foreground-color-rgb), .6);
        --footer--heading-color: {{ settings.colors_footer_foreground }};
    }

    {%- unless settings.colors_footer_contacts_background_gradient == empty -%}
    .footer-contacts.gradient {
        background: {{ settings.colors_footer_contacts_background_gradient }};
    }{%- endunless -%}

    {%- if section.settings.payment_enable -%}
    .footer__payment .icon {
        width: {{ section.settings.control_icon_width }}px;
        height: auto;
    }{%- endif -%}

    .footer-contacts__inner,
    .footer-contacts__address > div {
        display: grid;
    }

    {%- if settings.check_theme_style == 'default' -%}
    .footer-section .button--secondary {
        --color-button-text: var(--footer--background-color);
    }

    .footer-contacts__address:nth-child(2) .h4 {
        position: absolute;
        left: 1rem;
        max-width: calc(50% - 3rem);
    }

    .footer-contacts__image {
        padding: 2.75rem 0 0;
    }

    @media (max-width: 485px), print {
        .footer-contacts__address:nth-child(2) .h4 {
            max-width: calc(50% - 3rem);
        }
    }

    .footer-contacts__inner {
        grid-template-columns: 2fr 3fr;
    }{%- else -%}

    .footer-contacts__inner {
        grid-template-columns: 2fr 2fr;
    }

    .footer-section .button--secondary {
        --color-button-text: var(--footer--heading-color);
    }

    @media (max-width: 989px), print {
        .footer-contacts__image {
            grid-area: footer-logo;
        }

        .footer-contacts__address {
            grid-area: footer-address;
            display: flex;
            justify-content: space-between;
        }

        .footer-contacts__social {
            grid-area: footer-social;
        }

        .footer-contacts__newsletter {
            grid-area: footer-newsletter;
        }

        .footer-contacts__inner {
            grid-template-areas:'footer-logo .'
                                'footer-address footer-address'
                                'footer-newsletter footer-newsletter'
                                'footer-social footer-social';
        }

        {{ sectionId  }} .footer-contacts__inner {
            padding-left: 1.25rem;
            padding-right: 1.25rem;
        }
    }{%- endif -%}

    {{ sectionId  }} .footer-contacts__inner {
        width: auto;
        max-width: 480px;
    }

    @media (min-width: 990px), print {
        {{ sectionId  }} .footer-contacts__inner {
            grid-template-columns: 1fr 2fr 1fr;
            gap: 1rem;
            max-width: 1280px;
        }

        .footer-contacts__address > div {
            grid-template-columns: 1fr 1fr;
        }
    }
{% endstyle %}

{%- capture theme_settings_link -%}
    <a href="/admin/themes/{{ theme.id }}/settings">{{ 'sections.footer.theme_settings' | t }}</a>
{%- endcapture -%}

{% for block in section.blocks %}
    {% if block.type == 'footer-contacts' %}
        {%- liquid
            if forloop.first == false or forloop.last
                echo '</div>'
            endif

            render 'footer__block-contacts', block: block, control_section_width: sectionWidth

            if forloop.last == false
                echo '<div class="' | append: css_classes | append: '">'
            endif
        -%}
    {% else %}
        {% liquid
            if forloop.first
                echo '<div class="' | append: css_classes | append: '">'
            endif
        %}
        <div
            {% if settings.animation_on_reveal %}
                class="reveal-item"
            {% endif %}
        >
            {% if block.settings.title %}
                <input id="toggler-{{ block.id }}" type="checkbox" class="footer-block-toggler hidden">
                <span class="h5">
                    {{ block.settings.title | escape }}
                    <label for="toggler-{{ block.id }}">
                        <svg
                            aria-hidden="true"
                            focusable="false"
                            role="presentation"
                            width="20"
                            height="20"
                            class="icon icon-caret"
                        >
                            <use href="#icon-caret" />
                        </svg>
                    </label>
                </span>
            {% endif %}

            {% case block.type %}
                {% when 'menu' %}
                    <ul {{ block.shopify_attributes }}>
                        {% for link in linklists[block.settings.menu].links %}
                            <li>
                                <a href="{{ link.url }}">{{ link.title }}</a>
                            </li>
                        {% else %}
                            {%- capture linklist_path -%}Footer > Quick links link list{%- endcapture -%}
                            {%- assign alert_text = 'sections.footer.instructions_for_linklist_html'
                                | t:
                                    theme_settings_link: theme_settings_link,
                                    theme_settings_footer_linklist_path: linklist_path
                            -%}
                            {% for i in (1..3) %}
                                <li>
                                    <a
                                        href="#"
                                        onclick="alert('{{ alert_text | strip_html | json | escape }}');return false;"
                                    >
                                        {{- 'sections.footer.menu' | t -}}
                                    </a>
                                </li>
                            {% endfor %}
                        {% endfor %}
                    </ul>

                {% when 'text' %}
                    <div class="mt-4">
                        {% if block.settings.richtext != blank %}
                            {{ block.settings.richtext }}
                        {% else %}
                            <p>
                                {{
                                    'sections.footer.instructions_for_text_content_html'
                                    | t: theme_settings_link: theme_settings_link
                                }}
                            </p>
                        {% endif %}
                    </div>

                {% when 'newsletter' %}
                    {% if block.settings.subtext != blank %}
                        <div class="rte">
                            {{ block.settings.subtext }}
                        </div>
                    {% endif %}

                    {%- render 'form-newsletter-subscribe', form_id: 'newsletter-form-footer', button_icon: 'mail' -%}
            {% endcase %}
        </div>
        {% liquid
            if forloop.last
                echo '</div>'
            endif
        %}
    {% endif %}
{% endfor %}
<div class="footer-bottom">
    {%- unless customLiquid == null -%}
        <div class="{{ sectionWidth }} footer__custom-liquid _{{ customLiquid.settings.position }}">
            {{ customLiquid.settings.custom_liquid_code }}
        </div>
    {%- endunless -%}
    {%- if section.settings.payment_enable -%}
        <div class="footer__payment">
            <span class="visually-hidden">{{ 'sections.footer.payment' | t }}</span>
            <ul class="list-payment" role="list">
                {% if section.settings.custom_payment_icon != blank %}
                    {% assign icons = section.settings.custom_payment_icon | split: ',' %}
                    {% for icon in icons %}
                        {% assign isImage = images[icon] %}
                        {% if isImage != empty %}
                            <li class="list-payment__item">
                                {{
                                    images[icon]
                                    | image_url: width: section.settings.control_icon_width
                                    | image_tag: class: ''
                                }}
                            </li>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {%- for type in shop.enabled_payment_types -%}
                        <li class="list-payment__item">
                            {{ type | payment_type_svg_tag: class: 'icon' }}
                        </li>
                    {%- endfor -%}
                {% endif %}
            </ul>
        </div>
    {%- endif -%}
    {%- if shop.features.follow_on_shop? and section.settings.follow_on_shop -%}
        <div class="footer__follow-on-shop">
            {% # theme-check-disable %}
            {{ shop | login_button: action: 'follow' }}
            {% # theme-check-enable %}
        </div>
    {%- endif -%}
    <div class="footer__copyright">
        <small class="copyright__content"
            >&copy; {{ 'now' | date: '%Y' }}, {{ shop.name | link_to: routes.root_url -}}
        </small>
        <small class="copyright__content">{{ powered_by_link }}</small>
        {%- if section.settings.show_policy -%}
            <ul class="policies list-unstyled">
                {%- for policy in shop.policies -%}
                    {%- if policy != blank -%}
                        <li>
                            {%- if forloop.index > 1 -%}
                                <span class="separator"></span>
                            {%- endif -%}
                            <small class="copyright__content">
                                <a href="{{ policy.url }}">{{ policy.title }}</a>
                            </small>
                        </li>
                    {%- endif -%}
                {%- endfor -%}
            </ul>
        {%- endif -%}
    </div>
</div>

<script type="text/javascript">
    (() => {
        const updateFooterInner = () => {
            document.querySelectorAll('.footer-inner').forEach((node) => {
                node.dataset.childrenCount = node.children.length;
            });
        };

        updateFooterInner();
        document.addEventListener('shopify:section:load', updateFooterInner);
    })();
</script>

{% schema %}
{
    "name": "t:sections.footer.name",
    "class": "footer-section",
    "tag": "footer",
    "settings": [
        {
          "type": "checkbox",
          "id": "full_width",
          "label": "t:sections.footer.settings.full_width.label",
          "default": false
        },
        {
            "type": "checkbox",
            "id": "show_policy",
            "label": "t:sections.footer.settings.show_policy.label",
            "info": "t:sections.footer.settings.show_policy.info",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "follow_on_shop",
            "label": "t:sections.footer.settings.follow_on_shop.label",
            "info": "t:sections.footer.settings.follow_on_shop.info",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "payment_enable",
            "default": true,
            "label": "t:sections.footer.settings.payment_enable.label"
        },
        {
            "type": "text",
            "id": "custom_payment_icon",
            "label": "t:sections.footer.settings.custom_payment_icon.label",
            "info": "t:sections.footer.settings.custom_payment_icon.info"
        },
        {
            "type": "range",
            "id": "control_icon_width",
            "min": 30,
            "max": 120,
            "step": 10,
            "default": 60,
            "unit": "px",
            "label": "t:sections.footer.settings.control_icon_width.label"
        }
    ],
    "max_blocks": 9,
    "blocks": [
        {
            "type": "menu",
            "name": "t:sections.footer.blocks.link_list.name",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "t:sections.footer.blocks.link_list.settings.heading.label",
                    "info": "t:sections.footer.blocks.link_list.settings.heading.info",
                    "default": "Quick links"
                },
                {
                    "type": "link_list",
                    "id": "menu",
                    "default": "footer",
                    "label": "t:sections.footer.blocks.link_list.settings.menu.label",
                    "info": "t:sections.footer.blocks.link_list.settings.menu.info"
                }
            ]
        },
        {
            "type": "text",
            "name": "t:sections.footer.blocks.text.name",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "default": "Heading",
                    "label": "t:sections.footer.blocks.text.settings.heading.label"
                },
                {
                    "type": "richtext",
                    "id": "richtext",
                    "default": "<p>Share store details, promotions, or brand content with your customers.</p>",
                    "label": "t:sections.footer.blocks.text.settings.subtext.label"
                }
            ]
        },
        {
            "type": "footer-contacts",
            "name": "t:sections.footer.blocks.contancts.name",
            "limit": 1,
            "settings": [
                {
                    "type": "color",
                    "id": "color_bg",
                    "label": "t:sections.footer.blocks.contancts.settings.color_background",
                    "default": "#101824"
                },
                {
                    "type": "color",
                    "id": "color_fg",
                    "label": "t:sections.footer.blocks.contancts.settings.color_foreground",
                    "default": "#ffffff"
                },
                {
                    "type": "checkbox",
                    "id": "image_show",
                    "label": "t:sections.footer.blocks.contancts.settings.image_show",
                    "default": true
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "t:sections.footer.blocks.contancts.settings.image.label"
                },
                {
                    "type": "range",
                    "id": "image_width",
                    "label": "t:sections.footer.blocks.contancts.settings.image_width",
                    "min": 100,
                    "max": 300,
                    "step": 2,
                    "unit": "px",
                    "default": 192
                },
                {
                    "type": "select",
                    "id": "image_align",
                    "label": "t:sections.footer.blocks.contancts.settings.image_align",
                    "options": [
                        {
                            "value": "top",
                            "label": "t:sections.all.alignments.top.label"
                        },
                        {
                            "value": "center",
                            "label": "t:sections.all.alignments.center.label"
                        },
                        {
                            "value": "bottom",
                            "label": "t:sections.all.alignments.bottom.label"
                        }
                    ],
                    "default": "bottom"
                },
                {
                   "type": "richtext",
                   "id": "address",
                   "label": "t:sections.footer.blocks.contancts.settings.address",
                   "default": "<p>Fifth Ave Street 31<br />New York<br />USA</p>"
                },
                {
                    "type": "checkbox",
                    "id": "show_email",
                    "label": "t:sections.footer.blocks.contancts.settings.show_email",
                    "default": true
                },
                {
                    "type": "checkbox",
                    "id": "show_phone",
                    "label": "t:sections.footer.blocks.contancts.settings.show_phone",
                    "default": true
                },
                {
                    "type": "checkbox",
                    "id": "show_newsletter",
                    "label": "t:sections.footer.blocks.contancts.settings.show_newsletter",
                    "default": true
                }
            ]
        },
        {
            "type": "newsletter",
            "name": "t:sections.footer.blocks.newsletter.name",
            "settings": [
                {
                    "type": "inline_richtext",
                    "id": "title",
                    "default": "Newsletter",
                    "label": "t:sections.footer.blocks.newsletter.settings.heading.label"
                },
                {
                    "type": "richtext",
                    "id": "subtext",
                    "default": "<p>Sign up for our newsletter to get the latest news.</p>",
                    "label": "t:sections.footer.blocks.newsletter.settings.subtext.label"
                }
            ]
        },
        {
            "type": "custom_liquid",
            "name": "t:sections.footer.blocks.custom_liquid.name",
            "settings": [
                {
                    "type": "liquid",
                    "id": "custom_liquid_code",
                    "label": "t:sections.footer.blocks.custom_liquid.settings.custom_liquid_code.label"
                },
                {
                    "type": "select",
                    "id": "position",
                    "label": "t:sections.footer.blocks.custom_liquid.settings.position.label",
                    "options": [
                        {
                            "value": "left",
                            "label": "t:sections.footer.blocks.custom_liquid.settings.position.options.left"
                        },
                        {
                            "value": "center",
                            "label": "t:sections.footer.blocks.custom_liquid.settings.position.options.center"
                        },
                        {
                            "value": "right",
                            "label": "t:sections.footer.blocks.custom_liquid.settings.position.options.right"
                        }
                    ],
                    "default": "center"
                }
            ]
        }
    ],
    "presets": [
        {
          "name": "t:sections.footer.presets.name"
        }
    ],
    "enabled_on": {
        "groups": ["footer"]
    }
}
{% endschema %}
