{% liquid
  assign sectionId = section.id | prepend: '#shopify-section-'
  assign searchLayout = 'expanded'
  if settings.show_search_icon_only
    assign searchLayout = 'icon'
  endif
%}
{% style %}
  :root {
      --header--dropdown-background: {{ settings.colors_header_dd_background }};
      --header--dropdown-color: {{ settings.colors_header_dd_text }};
      --header--dropdown-color-rgb: {{ settings.colors_header_dd_text.red }}, {{ settings.colors_header_dd_text.green }}, {{ settings.colors_header_dd_text.blue }};
      --header--dropdown-third--level-background: {{ settings.colors_header_dd_third_level_background }};
      --header--dropdown-third--level-color: {{ settings.colors_header_dd_third_level_text }};
      --header--menu-item--active--text-color: #E20048;
      --search--button--background-color: #E20048;
      --search--input--background-color: #fff;
      --search--input--text-color: #101824;
  }
{% endstyle %}
{% style %}
.language-icon__wrapper i {
    color: transparent;
    max-height: 100%;
    position: relative;
}

.language-icon__wrapper img {
    height: 100%;
    position: absolute;
    width: 100%;
}

.header-wrapper {
    background: var(--header--background-color);
    display: block;
}{% if section.settings.add_border_bottom %}

.section-header-sticky .header-wrapper {
    box-shadow: 0 -3px 20px  var(--color-foreground-20);
}{% endif %}

.header {
    display: grid;
    align-items: center;
    color: var(--header--text-color);
    padding-top: .75rem;
    padding-bottom: .75rem;
    grid-template-columns: auto 1fr;
}

.header.search--expanded {
    grid-template-areas:
        'heading heading'
        'left-icon icons';
}

.header.logo--left,
.header.logo--middle {
    gap: 0 .5rem;
}

header-drawer {
    justify-self: start;
}

.header.logo--middle .header__search {
    grid-area: search;
}

.header__heading {
    grid-area: heading;
    display: flex;
    color: currentColor;
    margin: 0;
    justify-content: center;
}

.header__heading-link {
    grid-area: heading;
    position: relative;
    z-index: 31;
    display: flex;
    justify-self: center;
    padding: 0 .75rem;
    text-decoration-line: none;
    overflow-wrap: break-word;
    margin-bottom: 1rem;
}{% if section.settings.logo == blank or section.settings.dislay_shopname_on_mobile %}

.header__heading-link .h3 {
    color: currentColor;
    font-style: italic;
    font-weight: normal;
    margin: 0;
    word-break: break-all;
}

.header__heading-link strong {
    color: var(--color-base-accent-1);
}{% endif %}

.header__icons {
    align-items: center;
    grid-area: icons;
    display: flex;
    gap: .5rem;
    justify-content: end;
    width: auto;
}
{% if settings.check_theme_style == 'light' %}
.logo--middle .header__icons .localization-language-wrapper {display: none;}
.header .localization-language-wrapper._left button {
    background: transparent;
    border: 0;
}

.localization-language-wrapper._left .disclosure__list--wrapper {
    transform-origin: 1.5rem -1.5rem;
}

.localization-language-wrapper._left .disclosure__list--wrapper::after {
    top: -.25rem;{% unless request.locale.iso_code contains 'ar' %}
    right: unset;
    left: 1rem;{% endunless %}
    z-index: -1;
}{% endif %}{% if settings.check_theme_style == 'default' %}

.header .localization-language-wrapper._left { display: none; }
{% endif %}
.header__inline-menu {
    grid-area: navigation;
    display: none;
}

.header__icons .localization-selector,
.header__icon {
    --color-button-background: none;
    --color-button-border: transparent;
    --color-button-text: var(--header--text-color);
    border-width: 1px;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
}

.header__icon .icon-x {
    display: none;
}

.header__icon--menu {
    padding: .5rem;
}

.header__icon--cart {
    align-items: center;
    display: flex;
    gap: .5rem;
    min-width: auto;
    padding: .5rem .6rem .5rem .4rem;
}

.cart-label,
.cart-count-bubble {
    display: none;
}

.search__button {
    --color-button-border: var(--color-base-accent-1);
    --color-button-background: var(--color-base-accent-1);
    --color-button-text: var(--color-base-accent-1-inverse);
    min-width: auto;
}

.search__button svg {
    height: 1.5rem;
    width: 1.5rem;
}

.search__input {
    background-color: var(--search--input--background-color);
    color: var(--search--input--text-color);
    /* override Safari rouded corners on input field */
    -webkit-appearance: none;
}

.header__search,
.header__search form {
    position: relative;
    width: 100%;
    z-index: 40;
}

.header__search .field {
    margin: 0;{% if section.settings.add_border_searchfield and settings.show_search_icon_only == false %}
    box-shadow: 0 0 0 2px var(--header--background-color), 0 0 0 3px rgba(var(--header--text-color-rgb), .3);
    background: var(--header--background-color);{% endif %}
}

.header__search .search__button {
    border: 0;
}

/* Separate selector for search field in header becuase search field can appear at search result page */
.header__search .search__input {
    {%- if settings.use_elements_border_radius == false -%}
    border: 0{%- endif -%};
    padding-right: 3rem;
}{%- if localization.available_languages.size > 1  or localization.available_countries.size > 1 -%}

.header__icons .localization-currency-wrapper,
.header__icons .localization-language-wrapper {
    display: none;
}

.language-icon__wrapper {
    align-items: center;
    border-radius: 100%;
    display: flex;
    flex-shrink: 0;
    height: 24px;
    justify-content: center;
    margin-right: .25rem;
    overflow: hidden;
    width: 24px;
}

.language-icon__wrapper i {
    font-size: 2rem;
    font-style: normal;
    vertical-align: top;
}{%- endif -%}{% if section.settings.show_overlay %}
.header-menu__overlay-element.shown {
    background: rgba(0,0,0,{{ settings.overlay_transparenty }});{% if settings.enable_overlay_blur %}
    backdrop-filter: blur({{ settings.overlay_blur | times: 10 | append: 'px' }});{% endif %}
}{% endif %}

@media (max-width: 475px), print {
    {%- if settings.show_login_icon_on_mobile -%}
    .header__buttons--wrapper,
    .header__icon--account {
        display: flex;
        min-width: auto;
    }

    .header__icon--account > span,
    #menu-drawer .item--account {
        display: none;
    }{% else %}

    .header__icon--account {
        display: none;
    }{%- endif -%}
}

@media (max-width: 768px), print {
    .header-wrapper {
        position: relative;
    }

    .header__search,
    .header__search form {
        z-index: 31;
    }

    .header.search--icon {
        grid-template-areas: 'left-icon heading search icons';
    }

    {% if request.locale.iso_code contains 'ar' %}
    .header.search--icon {
        grid-template-columns: 1fr 1fr .5fr auto;
    }{% endif %}

    .header.logo--middle.search--expanded {
        grid-template-areas:
            'heading heading heading'
            'left-icon search icons';
    }
    {% if settings.check_theme_style == 'light' %}
    .header .localization-language-wrapper._left {
        display: none;
    }{% endif %}
}

@media (min-width: 768px), print {
    .header.logo {
        grid-template-columns: 15rem auto;
    }

    .menu-drawer-toggler::after {
        content: attr(aria-label);
    }

    .header.logo--left .header__heading {
        justify-self: center;
    }

    .header__heading-link {
        margin-right: .25rem;
    }

    .account-label,
    .cart-label {
        display: inline;
        white-space: nowrap;
    }

    .dropdown-inner:not(.small) summary {
        padding-left: 0;
    }

    .header__submenu .image--link {
        font-size: 1rem;
        color: var(--color-foreground);
        font-weight: bold;
        margin-top: 0.75rem;
    }

    .header__submenu .media:hover ~ .image--link {
        color: var(--color-foreground-75);
    }

    .header__icon > svg,
    .header__icons .icon-caret {
        --color-rgba: rgba(var(--header--text-color-rgb), .6);
        color: var({% if settings.check_theme_style == 'default' %}--color-rgba{% else %}--header--text-color-rgb{% endif %});
    }{% if shop.customer_accounts_enabled %}

    .header__buttons--wrapper {
        display: flex;
        gap: 0;
    }

    .header__icon--account {
        display: inline-flex;
        min-width: auto;
        gap: .25rem;
    }

    .header__icon--account > svg{
        height: 1.25rem;
    }{% endif %}

    .search--icon .predictive-search {
        max-width: calc(100vw - 14rem);
    }
}
{%- if settings.check_theme_style == 'light' -%}
@media (max-width: 900px), print {
    .logo--middle.search--icon .header__heading {
        justify-content: unset;
    }
}
{% endif %}
@media (min-width: 990px), print {
    .header {
        padding-bottom: 0;{% unless section.settings.use_slideout_menu %}
        padding-top: 1.25rem;{% endunless %}
        {%- if section.settings.menu == blank -%}
        padding-bottom: 1.25rem{%- endif -%};
    }
    {%- if settings.check_theme_style == 'light' -%}
    .header_line--divider {
        grid-area: line_divider;
        position: absolute;
        display: flex !important;
        left: 0;
        right: 0;
    }

    .header_line--divider:after {
        content: '';
        width: 100%;
        border-top: 1px solid var(--color-foreground-10);
        margin-top: -1rem;
    }
    .logo--middle.search--expanded .header__heading + .header__search {
        display: none;
    }
    {% endif %}{% if section.settings.use_slideout_menu %}

    header-drawer {
        grid-area: menu_drawer;
        padding: .5rem 0;
    }

    header-drawer .localization-currency-wrapper,
    .header.logo--middle .localization-language-wrapper._left,
    header-drawer .localization-language-wrapper {
        display: none;
    }

    .header.logo--left {
        grid-template-areas:'menu_drawer heading icons';
    }

    .header.logo--middle {
        grid-template-areas:'menu_drawer heading search icons';
    }

    .header.logo--middle .header__icons {
        display: block;
    }

    .logo--middle .header__icons .localization-language-wrapper {
        display: flex;
        align-items: center;
    }

    .header-menu__overlay-element.shown {
        z-index: 40;
    }

    .header__search {
        max-width: 22rem;
    }

    predictive-search form.search--expanded .predictive-search {
        min-width: calc(550px - 2px);
        transform-origin: calc(50% + 2rem) -1.5rem;
    }{% else %}

    header-drawer {
        display: none;
    }

    .header.logo--left {
        grid-template-areas:
            'heading icons'
            'navigation navigation';
    }

    .header.logo--middle {
        grid-template-areas:
            'search heading icons'{% if settings.check_theme_style == 'light' %}
            'line_divider line_divider line_divider'{% endif %}
            'navigation navigation navigation';
        grid-template-columns: 1fr 1fr 1fr;
    }{% endif %}

    .header__buttons--wrapper {
        position: relative;
        display: flex;
    }

    .header__heading-link {
        margin-left: -.75rem;
        margin-bottom: 0;
    }

    .header__icons._expanded {
        gap: 1.5rem;
        margin-left: 1rem;
    }

    .header__icons[data-only-icons="true"] localization-form button .language-icon__wrapper ~ span,
    .header__icons[data-only-icons="true"] .account-label,
    .header__icons[data-only-icons="true"] .cart-label {
        display: none;
    }

    .header__search {
        min-width: 16rem;
    }{% if localization.available_languages.size > 1  or localization.available_countries.size > 1 %}

    .localization-form__currency {
        white-space: nowrap;
    }

    .header__icons .localization-currency-wrapper,
    .header__icons .localization-language-wrapper {
        display: block;
    }

    .header__icons .localization-language-wrapper button .language-icon__wrapper ~ span,
    .header__icons .localization-selector .localization-form__currency-name,
    .header__icons .localization-selector .localization-form__country,
    .header__icons .localization-selector .localization-form__currency::before,
    .header__icons .localization-selector .localization-form__currency::after {
        display: none;
    }

    .header__icons .localization-selector {
        gap: .25rem;
        width: auto;
    }

    .header__icons button.localization-selector {
        padding-right: .25rem;
    }{% endif %}
}
@media (min-width: 1200px), print {
    .header__icons._expanded {
        gap: 3rem;
        margin-left: 2rem;
    }

    .header__icons .localization-language-wrapper button .language-icon__wrapper ~ span {
        display: block;
    }
}
{% endstyle %}

{% style %}
.list-menu {
    list-style-type: none;
    margin: 0;
}

.list-menu--inline > li {
    display: flex;
    align-items: center;
}

.list-menu--inline > li:not(.top__menu-item-active):last-child {
    margin: 0;
}

.list-menu__item {
    display: flex;
    align-items: center;
    line-height: 1.3;
}

[data-main-item-menu=true] .header__submenu .list-menu__item,
.dropdown-inner.small .list-menu__item {
    position: relative;
    width: 100%;
    word-break: break-word;
}

[data-main-item-menu=true] .header__submenu .list-menu__item .icon {
    position: absolute;
    right: 0.5rem;
    transform: rotate(0deg);
    transition: transform 0.2s ease-in-out;
}

[data-main-item-menu=true] .header__submenu [open] .list-menu__item .icon {
    transform: rotate(-90deg);
}

[data-main-item-menu] .header__submenu .list-menu__item--active,
[data-items-menu] .list-menu__item--active {
    color: var(--color-base-accent-1);
}

[data-items-menu] .header__menu-item-1-highlighted .list-menu__item--active {
    color: currentColor;
}

@media (min-width: 768px), print {
    {% if settings.check_theme_style == 'default' %}
    .header .highlite_parent_item_on_active_child,
    .top__menu-item-active,
    .header .header__menu-item-1-highlighted {
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        background: var(--color-base-accent-1);
        color: var(--color-base-accent-1-inverse);
    }{% endif %}{% if settings.check_theme_style == 'light' %}

    .header .highlite_parent_item_on_active_child,
    .top__menu-item-active,
    .header .header__menu-item-1-highlighted {
        background: var(--color-foreground-10);
    }{% endif %}

    .header .header__menu-item-1 {
        color: currentColor;
    }

    .header .highlite_parent_item_on_active_child,
    .top__menu-item-active {
        margin-left: -1px;
    }
    {% if settings.check_theme_style == 'default' %}
    .header .list-menu--inline > li::after {
        content: '';
        height: 2rem;
        width: 1px;
        background-color: rgba(var(--header--text-color-rgb), .3);
    }

    .header .highlite_parent_item_on_active_child,
    .header [data-items-menu].top__menu-item-active summary svg,
    .header [data-main-item-menu].top__menu-item-active .header__menu-item-top svg,
    .header [data-main-item-menu].top__menu-item-active .header__menu-item-top span,
    .header [data-items-menu].top__menu-item-active .header__menu-item-top span {
        color: var(--color-base-accent-1-inverse);
    }{% endif %}

    .header .highlite_parent_item_on_active_child::after,
    li[data-link-highlighted="true"]::after,
    .header .list-menu--inline > li:last-child::after,
    .top__menu-item-active::after {
        display: none;
    }

    .list-menu--inline {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
    }{% if request.locale.iso_code contains 'ar' %}

    summary.header__menu-item > svg {
        margin-left: .5rem;
    }{% else %}

    summary.header__menu-item > svg {
        margin-right: .5rem;
    }{% endif %}

    .header__menu-item-top {
        font-weight: bold;
        color: currentColor;
        font-size: {% if settings.check_theme_style == 'default' %}1.125{% else %}1{% endif %}rem;
        padding: {% if settings.check_theme_style == 'default' %}.75rem 1.5rem{% else %}.5rem 1.5rem{% endif %};
    }

    .header .header__menu-item-top .icon-caret {
        margin-right: {% if request.locale.iso_code contains 'ar' %}0.25{% else %}-0.5{% endif %}rem;
    }

    .dropdown-inner:not(.small) summary {
        padding-left: 0;
    }
}
{% if section.settings.dislay_shopname_on_mobile %}
@media (max-width: 900px), print {
    .header__heading [data-media="desktop__only"],
    .header__heading .header__heading-logo {
        display: none;
    }

}{% endif %}

@media (min-width: 990px), print {
    .dropdown-inner {
        position: absolute;
        z-index: 40;
        background-color: var(--header--dropdown-background, #fafafa);
        --color-foreground: var(--header--dropdown-color);
        --color-foreground-75: rgba(var(--header--dropdown-color-rgb), .75);
        box-shadow: rgb(0 0 0 / 12%) 0px 2px 15px;
        border-bottom-left-radius: .25rem;
        border-bottom-right-radius: .25rem;
    }

    [data-main-item-menu] .childlist-menu--disclosure,
    .dropdown-inner.small .childlist-menu--disclosure {
        background: var(--header--dropdown-third--level-background);
        color: var(--header--dropdown-third--level-color);
    }

    .header__inline-menu {
        display: block;
        margin: 1.5rem 0 0;{% if settings.check_theme_style == 'light' %}
        padding-bottom: .75rem;{% endif %} /* Light theme navigation - use padding-bottom */
    }

    .dropdown-inner .list-menu__item--active {
        color: var(--color-base-accent-1);
    }

    [data-main-item-menu] .childlist-menu--disclosure {
        display: {% if section.settings.show_collection_image %}flex{% else %}block{% endif %};
    }
    {% if section.settings.dislay_shopname_on_mobile %}
    .header__heading [data-media="mobile__only"] {
        display: none;
    }
    {% endif %}{% if section.settings.enable_dropdown_menu_animation %}
    details-disclosure > details > *:not(summary) {
        transform: translateY(-0.5rem);
        transition: all .35s cubic-bezier(.38,.65,.33,1);
    }

    details-disclosure > details .dropdown-inner[opening] {
        overflow-y: hidden;
    }

    details-disclosure > details[open] > *:not(summary) {
        transform: translateY(0);
        animation: openMenu .35s ease-in-out;
    }

    details-disclosure > details[closing] > *:not(summary) {
        transform: translateY(0rem);
        overflow-y: hidden;
        animation: closeMenu .75s ease-in-out;
    }

    @keyframes closeMenu {
        0%  {
            opacity: 1;
            transform: translateY(0);
        }
        100% {
            opacity: 0;
            transform: translateY(-0.5rem);
        }
    }

    @keyframes openMenu {
        0%  {
            opacity: 0;
            transform: translateY(-0.5rem);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }{% endif %}
}
{% endstyle %}

<link rel="stylesheet" href="{{ 'section-navigation-megamenu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'section-navigation-smallmenu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'disclosure.css' | asset_url }}" media="print" onload="this.media='all'">

{%- if request.locale.iso_code contains 'ar' -%}
  <link rel="stylesheet" href="{{ 'navigation-menu-drawer-rtl.css' | asset_url }}" media="print" onload="this.media='all'">
  <noscript>{{ 'navigation-menu-drawer-rtl.css' | asset_url | stylesheet_tag }}</noscript>
  {%- if section.settings.use_slideout_menu -%}
  <link rel="stylesheet" href="{{ 'navigation-slideout-rtl.css' | asset_url }}" media="print" onload="this.media='all'">
  <noscript>{{ 'navigation-slideout-rtl.css' | asset_url | stylesheet_tag }}</noscript>
  {%- endif -%}
{%- else -%}
  <link rel="stylesheet" href="{{ 'navigation-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
  <noscript>{{ 'navigation-menu-drawer.css' | asset_url | stylesheet_tag }}</noscript>
  {%- if section.settings.use_slideout_menu -%}
  <link rel="stylesheet" href="{{ 'navigation-slideout.css' | asset_url }}" media="print" onload="this.media='all'">
  <noscript>{{ 'navigation-slideout.css' | asset_url | stylesheet_tag }}</noscript>
  {%- endif -%}
{%- endif -%}
<noscript>
{{ 'section-navigation-megamenu.css' | asset_url | stylesheet_tag }}
{{ 'section-navigation-smallmenu.css' | asset_url | stylesheet_tag }}
{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}
{{ 'component-search.css' | asset_url | stylesheet_tag }}
{{ 'component-menu-drawer.css' | asset_url | stylesheet_tag }}
</noscript>

{%- if searchLayout == 'icon' -%}
{% style %}
{% unless settings.check_theme_style == 'light' %}
.header .header__search + .localization-language-wrapper._left {
    display: none;
}{% endunless %}
{% if settings.logo_position == 'middle' %}
    @media all and (min-width: 990px) {
        {% if settings.check_theme_style == 'default' %}
        .logo--middle .search--icon.active .search__input {
            padding-left: 3.5rem;
        }
        {% unless request.locale.iso_code contains 'ar' %}
            {% unless section.settings.use_slideout_menu %}
            .logo--middle .search--icon .field__button {
                right: unset;
                left: 4px;
            }{% endunless %}
            {% endunless %}
        {% endif %}{% if settings.check_theme_style == 'light' %}

        .logo--middle .header__heading + .header__search {
            display: none;
        }{% endif %}
    }
{% endif %}
    .header.search--icon .search__input {
        position: absolute;
        top: -22px;
        width: 0;
        height: 0;
        visibility: hidden;
        transition: width .25s ease-in-out;
    }

    .search--icon .header__search .search__button {
        background: transparent;
        color: var(--header--text-color);
        box-shadow: none;
    }{% if request.locale.iso_code contains 'ar' %}

    .logo--middle .search--icon .search__input,
    .logo--left .search--icon .search__input {
        left: 0;
    }{% else %}

    .logo--middle .search--icon .search__input,
    .logo--left .search--icon .search__input {
        right: 0;
    }{% endif %}

    .logo--left .search--icon.active .search__input,
    .logo--middle .search--icon.active .search__input {
        width: 100%;
        height: initial;
        width: calc(100vw - 8rem + 8px);
        visibility: visible;
        background: var(--search--input--background-color);
    }

    .logo--middle .search--icon.active .search__button,
    .logo--left .search--icon.active .search__button svg {
        color: var(--color-base-accent-1);
    }

    .logo--middle .search--icon.active .search__button span,
    .logo--left .search--icon.active .search__button span {
        color: var(--color-foreground);
    }

    .search--icon .predictive-search {
        top: {% if settings.check_theme_style == 'light' %}calc(100% + 3rem){% else %}calc(100% + 2rem){% endif %};
    }

    @media all and (max-width: 475px) {
        .logo--middle .search--icon .search__button span,
        .logo--left .search--icon .search__button span {
            display: none;
        }

        .logo--left.search--icon .predictive-search--search-template {
            left: {% if request.locale.iso_code contains 'ar' %}calc(100% + 10rem){% else %}calc(100% - 8rem - 7px){% endif %};
        }

        .logo--middle.search--icon .predictive-search--search-template {
            left: {% if request.locale.iso_code contains 'ar' %}calc(100% + 8rem){% else %}calc(1px - 8rem){% endif %};
        }{% if request.locale.iso_code contains 'ar' %}

        .logo--middle.search--icon .header__search .search__button {
            padding-right: 0;
        }{% endif %}
    }

    @media all and (min-width: 480px) {
        form.search--icon .predictive-search {
            left: {% if request.locale.iso_code contains 'ar' %}calc(100% + 17rem){% else %}calc(100% - 11rem){% endif %};
        }
        {% if request.locale.iso_code contains 'ar' %}
        .logo--middle.search--icon .predictive-search {
            left: calc(100% + 11rem)
        }{% endif %}
    }

    @media (max-width: 768px), print {
        .header.search--icon .header__heading-link,
        .header.search--icon .header__heading-link {
            margin-bottom: 0.25rem; {% if section.settings.dislay_shopname_on_mobile %}
            margin-right: 2rem;{% endif %}
        }

        .header.search--icon .header__search .search__button {
            padding: 1.25rem 0.5rem;
            top: calc(4px - 1.5rem);
        }
    }

    @media all and (min-width: 768px) {
        .logo--left .search--icon.active .search__input,
        .logo--middle .search--icon.active .search__input {
            width: calc(100vw - 20rem);
        }
    }

    @media all and (min-width: 990px) {
        .search--icon .search__button {
            top: -10px;
        }{% if settings.check_theme_style == 'light' %}

        .logo--middle.search--icon .search__input {
            top: 0;
        }

        .logo--left.search--icon .search__button {
            top: -5px;
        }

        .logo--middle.search--icon .search__button {
            top: 16px;
        }{% endif %}

        .logo--left .search--icon.active .search__input,
        .logo--middle .search--icon.active .search__input {
            width: 100%;
        }{% if request.locale.iso_code contains 'ar' %}

        .logo--middle.search--expanded predictive-search .predictive-search,
        .logo--middle.search--icon predictive-search .predictive-search {
            right: 0;
        }

        .logo--middle.search--icon predictive-search .predictive-search {
            transform-origin: calc(50% + 4rem) -1.5rem;
        }{% endif %}

        .logo--middle .search--icon .search__button span {
            display: block;
        }

        .logo--middle .search--icon.active .search__button span {
            display: none;
        }{% if section.settings.use_slideout_menu %}
        {% if request.locale.iso_code contains 'ar' %}
        .logo--middle.search--icon .header__search .search__button,
        .logo--middle .search--icon .search__input {
            left: 0;
            right: unset;
        }{% else %}

        .logo--middle .search--icon .search__input {
            right: 0;
            left: unset;
        }

        .logo--middle .search--icon.active .search__input {
            padding-left: .75rem;
        }{% endif %}

        header.header {
            padding-bottom: 0.25rem;
        }{% endif %}

        predictive-search form.search--icon .predictive-search {
            width: 100%; {% if settings.check_theme_style == 'light' %}
            right: 0; 
            left: unset;{% else %} 
            left: 0;
            right: unset;{% endif %}
        }
    }
    {% if settings.check_theme_style == 'light' %}
    @media all and (max-width: 900px) {
        .logo--middle .header__buttons--wrapper .header__search {
            display: none;
        }
    }

    .logo--left .header__buttons--wrapper .header__search {
        display: none;
    }{% endif %}
{% endstyle %}
{% else %}
{% style %}
{%- if settings.check_theme_style == 'light' -%}
.logo--left.search--expanded .header__buttons--wrapper > .header__search {
    display: none;
}

@media (max-width: 900px), print {
    .logo--middle.search--expanded .header__icons._expanded .header__search {
        display: none;
    }
}{%- endif -%}

@media (min-width: 990px), print {
    predictive-search form.search--expanded .predictive-search {
        width: 100%; {% if settings.check_theme_style == 'light' %}
        right: 0;
        left: unset;{% else %}
        left: 0;
        right: unset;{% endif %}
    }
}
{% endstyle %}
{%- endif -%}

{%- capture header_html -%}
  <header class="header {% if section.settings.full_width %}full--width{% else %}dynamic-page-width{% endif %}
    {% if section.settings.menu != blank %} header--has-menu{% endif %} logo--{{ settings.logo_position }} search--{{ searchLayout }}"
  >
    {%- if section.settings.menu != blank -%}
      <header-drawer>
  <details class="menu-drawer-container">
    <summary class="menu-drawer-toggler header__icon header__icon--menu header__icon--summary button button--small" aria-label="{{ 'sections.header.menu' | t }}">
      <span>
        {% render 'icons-charge' name: 'menu' %}
        {% render 'icons-charge' name: 'x' css_class:'icon-x' %}
      </span>
    </summary>
    <div id="menu-drawer" class="menu-drawer motion-reduce" tabindex="-1">
      <div class="menu-drawer__inner-container">
        <div class="menu-drawer__navigation-container">
          <div class="menu-drawer__navigation-title">
            <span>{{ 'sections.header.title' | t }}</span>
            <button type="button" class="menu-drawer__navigation-close modal__close-button" aria-label="{{ 'accessibility.close' | t }}">
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close"><use href="#icon-close" /></svg>
            </button>
          </div>
          <nav class="menu-drawer__navigation  menu-drawer__section-content">
            <ul class="menu-drawer__menu menu-drawer__top-level-menu list-menu" role="list">
              {%- for link in section.settings.menu.links -%}
                {%- if link.links != blank -%}
                  <li>
                    <details>
                      <summary class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.child_active %} menu-drawer__menu-item--active{% endif %}">
                        <a href="{{ link.url }}" class="menu-drawer__menu-item-top">
                          {{ link.title | escape }}
                        </a>
                        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-caret"><use href="#icon-caret" /></svg>
                      </summary>
                      <div id="link-{{ link.title | escape }}" class="menu-drawer__submenu motion-reduce" tabindex="-1">
                        <div class="menu-drawer__inner-submenu">
                          <ul class="menu-drawer__menu menu-drawer__child-menu list-menu" role="list" tabindex="-1">
                            {%- for childlink in link.links -%}
                              <li>
                                {%- if childlink.links == blank -%}
                                  <a href="{{ childlink.url }}" class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                                    {{ childlink.title | escape }}
                                  </a>
                                {%- else -%}
                                  <details>
                                    <summary class="menu-drawer__menu-item link link--text list-menu__item focus-inset">
                                      <a href="{{ childlink.url }}" class="menu-drawer__menu-item-childlink">
                                        {%- if section.settings.show_collection_icon -%}
                                        {% comment %}
    Render collection icon next to a collection mame in the dropdown menu

    Accepts:
        - childlink.url: {String}
{% endcomment %}
{% assign iconWidth = section.settings.collection_icon_width %}

{%- for collection in collections -%}
    {%- unless collection.url != childlink.url -%}

        {%- if section.settings.collection_icon -%}
            {{ section.settings.collection_icon |
                image_url: width: iconWidth  |
                image_tag:
                    class: 'collection__item-image',
                    loading: 'lazy'
            }}
        {% else %}
            {% if collection.featured_image %}
                {{ collection.featured_image |
                    image_url: width: iconWidth |
                    image_tag:
                    class: 'collection__item-image',
                    loading: 'lazy'
                }}
            {% endif %}
        {%- endif -%}

    {%- endunless -%}
{%- endfor -%}
                                        {%- endif -%}
                                        {{ childlink.title | escape }}
                                      </a>
                                      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-caret"><use href="#icon-caret" /></svg>
                                    </summary>
                                    <div id="childlink-{{ childlink.title | escape }}" class="menu-drawer__submenu motion-reduce">
                                      <ul class="menu-drawer__menu menu-drawer__grandchild-menu list-menu" role="list" tabindex="-1">
                                        {%- for grandchildlink in childlink.links -%}
                                          <li>
                                            <a href="{{ grandchildlink.url }}" class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                              {%- if section.settings.show_collection_icon -%}
                                                {% comment %}
    Render collection icon next to a collection mame in the dropdown menu

    Accepts:
        - grandchildlink.url: {String}
{% endcomment %}
{% assign iconWidth = section.settings.collection_icon_width %}

{%- for collection in collections -%}
    {%- unless collection.url != grandchildlink.url -%}

        {%- if section.settings.collection_icon -%}
            {{ section.settings.collection_icon |
                image_url: width: iconWidth  |
                image_tag:
                    class: 'collection__item-image',
                    loading: 'lazy'
            }}
        {% else %}
            {% if collection.featured_image %}
                {{ collection.featured_image |
                    image_url: width: iconWidth |
                    image_tag:
                    class: 'collection__item-image',
                    loading: 'lazy'
                }}
            {% endif %}
        {%- endif -%}

    {%- endunless -%}
{%- endfor -%}
                                              {%- endif -%}
                                              {{ grandchildlink.title | escape }}
                                            </a>
                                          </li>
                                        {%- endfor -%}
                                      </ul>
                                    </div>
                                  </details>
                                {%- endif -%}
                              </li>
                            {%- endfor -%}
                          </ul>
                        </div>
                      </div>
                    </details>
                  </li>
                {%- else -%}
                  <li>
    <a href="{{ link.url }}" class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %}"{% if link.current %} aria-current="page"{% endif %}>
        {{ link.title | escape }}
    </a>
</li>

                {%- endif -%}
              {%- endfor -%}

              {% if shop.customer_accounts_enabled %}
                <li class="item--account">
                  {% if customer %}
                    <details>
                        <summary class="menu-drawer__menu-item list-menu__item list-menu__item--account">
                          <span class="list-menu__item--inner">
                            <svg aria-hidden="true" focusable="false" role="presentation" width="20" height="20" class="icon-user">
                              <use href="#icon-user" />
                            </svg>
                            <span class="account-label">{{ customer.first_name }} {{ customer.last_name }}</span>
                          </span>
                          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-caret"><use href="#icon-caret" /></svg>
                        </summary>
                        <div id="link-{{ link.title | escape }}" class="menu-drawer__submenu motion-reduce" tabindex="-1">
                          <div class="menu-drawer__inner-submenu">
                            <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                              <li>
    <a href="{{ routes.account_url }}" class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if false %} menu-drawer__menu-item--active{% endif %}"{% if false %} aria-current="page"{% endif %}>
        {{ 'customer.account_fallback' | t }}
    </a>
</li>
<li>
    <a href="{{ routes.account_logout_url }}" class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if false %} menu-drawer__menu-item--active{% endif %}"{% if false %} aria-current="page"{% endif %}>
        {{ 'customer.log_out' | t }}
    </a>
</li>

                            </ul>
                          </div>
                        </div>
                      </details>
                  {% else %}
                    <a href="{{ routes.account_login_url }}" class="menu-drawer__menu-item list-menu__item list-menu__item--account" title="{{ 'customer.log_in' | t }}">
                      <span class="list-menu__item--inner">
                        <svg aria-hidden="true" focusable="false" role="presentation" width="20" height="20" class="icon-user">
                          <use href="#icon-user" />
                        </svg>
                        <span>{{ 'customer.log_in' | t }}</span>
                      </span>
                    </a>
                  {% endif %}
                </li>
              {% endif %}

            </ul>
          </nav>
        </div>

        {% if section.settings.show_switcher_language %}{% render 'switcher-language' formId: 'DrawerLanguageForm' %}{% endif %}
        {% comment %}{% if section.settings.show_switcher_currency %}{% render 'switcher-currency' formId: 'DrawerCurrencyForm' %}{% endif %}{% endcomment %}
        {% if section.settings.show_switcher_country %}{% render 'switcher-country' formId: 'DrawerCountryForm' %}{% endif %}

        <div class="menu-drawer__navigation-footer">
    {%- if settings.contact_phone != blank -%}
        <a href="tel:{{ settings.contact_phone }}" title="{{ 'header_top.contact_phone.title' | t }}">
            {% render 'icons-solid', name: 'phone' %}
            {{ settings.contact_phone }}
        </a>
    {%- endif -%}
    {%- if settings.contact_email != blank -%}
        <a href ="mailto:{{ settings.contact_email }}" title="{{ 'header_top.contact_email.title' | t }}">
            {% render 'icons-solid', name: 'mail' %}
            {{ settings.contact_email }}
        </a>
    {%- endif -%}
</div>

      </div>
    </div>
  </details>
</header-drawer>

    {%- endif -%}

    <div class="h1 header__heading">
      <a href="{{ routes.root_url }}" class="header__heading-link focus-inset">
        {%- if section.settings.dislay_shopname_on_mobile -%}
          {% render 'helper__shop-name', screen: 'mobile__only' %}
        {%- endif -%}
        {%- if section.settings.logo != blank -%}
          {% render 'helper__logo', logo: section.settings.logo %}
        {%- else -%}
          {% render 'helper__shop-name', screen: 'desktop__only' %}
        {%- endif -%}
      </a>
    </div>

    {% #middle logo position %}
    {%- if settings.logo_position == 'middle' -%}
      <div class="header__search">
  {%- if settings.predictive_search_enabled -%}
    <predictive-search data-loading-text="{{ 'accessibility.loading' | t }}">
  {%- endif -%}
    <form action="{{ routes.search_url }}" method="get" role="search" class="search search--{{ searchLayout }}">
      <input type="hidden" name="query_length" id="predictive_search_query_length"
        value="{{ settings.predictive_search_min_query_length }}"
      >
      <input type="hidden" name="predictive-search-types" value="collection-{{ settings.predictive_search_show_collections }}">
      <input type="hidden" name="predictive-search-types" value="article-{{ settings.predictive_search_show_articles }}">
      <input type="hidden" name="predictive-search-types" value="page-{{ settings.predictive_search_show_pages }}">
      <div class="field">
        <label class="search__label field__label visually-hidden" for="Search-In-Modal">{{ 'general.search.search' | t }}</label>
        <input
          class="search__input field__input"
          id="Search-In-Modal"
          type="search"
          name="q"
          value="{{ search.terms | escape }}"
          placeholder="{{ 'general.search.search' | t }}"
          {%- if settings.predictive_search_enabled -%}
            role="combobox"
            aria-expanded="false"
            aria-owns="predictive-search-results-list"
            aria-controls="predictive-search-results-list"
            aria-haspopup="listbox"
            aria-autocomplete="list"
            autocorrect="off"
            autocomplete="off"
            autocapitalize="off"
            spellcheck="false"
          {%- endif -%}
        >
        <input name="options[prefix]" type="hidden" value="last">
        {%- if settings.predictive_search_enabled -%}
          <div class="predictive-search predictive-search--search-template" tabindex="-1" data-predictive-search>
              <div class="predictive-search__loading-state">
              </div>
          </div>
          <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
        {%- endif -%}

      <button class="search__button field__button{% if settings.show_button_ring_on_hover %} border--outline{% endif %}" aria-label="{{ 'general.search.search' | t }}">
        <svg aria-hidden="true" focusable="false" role="presentation">
          <use href="#icon-search" />
        </svg>
        {% if settings.show_search_icon_only %}
          <span class="search_label">{{ 'general.search.label' | t }}</span>
        {% endif %}
      </button>
      </div>
    </form>
  {%- if settings.predictive_search_enabled -%}
    </predictive-search>
  {%- endif -%}
</div>
      {% if section.settings.show_switcher_language %}{% render 'switcher-language' formId: 'LanguageForm-left', css_class: '_left' %}{% endif %}
    {%- endif -%}

    <div class="header__icons _{{ searchLayout }}" {% if section.settings.logo == blank and shop.name.size > 30 %} data-only-icons="true"{% endif %}>
    {% #left logo position - default %}
    {%- if settings.logo_position == 'left' -%}
      <div class="header__search">
  {%- if settings.predictive_search_enabled -%}
    <predictive-search data-loading-text="{{ 'accessibility.loading' | t }}">
  {%- endif -%}
    <form action="{{ routes.search_url }}" method="get" role="search" class="search search--{{ searchLayout }}">
      <input type="hidden" name="query_length" id="predictive_search_query_length"
        value="{{ settings.predictive_search_min_query_length }}"
      >
      <input type="hidden" name="predictive-search-types" value="collection-{{ settings.predictive_search_show_collections }}">
      <input type="hidden" name="predictive-search-types" value="article-{{ settings.predictive_search_show_articles }}">
      <input type="hidden" name="predictive-search-types" value="page-{{ settings.predictive_search_show_pages }}">
      <div class="field">
        <label class="search__label field__label visually-hidden" for="Search-In-Modal">{{ 'general.search.search' | t }}</label>
        <input
          class="search__input field__input"
          id="Search-In-Modal"
          type="search"
          name="q"
          value="{{ search.terms | escape }}"
          placeholder="{{ 'general.search.search' | t }}"
          {%- if settings.predictive_search_enabled -%}
            role="combobox"
            aria-expanded="false"
            aria-owns="predictive-search-results-list"
            aria-controls="predictive-search-results-list"
            aria-haspopup="listbox"
            aria-autocomplete="list"
            autocorrect="off"
            autocomplete="off"
            autocapitalize="off"
            spellcheck="false"
          {%- endif -%}
        >
        <input name="options[prefix]" type="hidden" value="last">
        {%- if settings.predictive_search_enabled -%}
          <div class="predictive-search predictive-search--search-template" tabindex="-1" data-predictive-search>
              <div class="predictive-search__loading-state">
              </div>
          </div>
          <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
        {%- endif -%}

      <button class="search__button field__button{% if settings.show_button_ring_on_hover %} border--outline{% endif %}" aria-label="{{ 'general.search.search' | t }}">
        <svg aria-hidden="true" focusable="false" role="presentation">
          <use href="#icon-search" />
        </svg>
        {% if settings.show_search_icon_only %}
          <span class="search_label">{{ 'general.search.label' | t }}</span>
        {% endif %}
      </button>
      </div>
    </form>
  {%- if settings.predictive_search_enabled -%}
    </predictive-search>
  {%- endif -%}
</div>
    {%- endif -%}

      <div class="header__buttons--wrapper">
        {% if settings.check_theme_style == 'light' %}
        <div class="header__search">
  {%- if settings.predictive_search_enabled -%}
    <predictive-search data-loading-text="{{ 'accessibility.loading' | t }}">
  {%- endif -%}
    <form action="{{ routes.search_url }}" method="get" role="search" class="search search--{{ searchLayout }}">
      <input type="hidden" name="query_length" id="predictive_search_query_length"
        value="{{ settings.predictive_search_min_query_length }}"
      >
      <input type="hidden" name="predictive-search-types" value="collection-{{ settings.predictive_search_show_collections }}">
      <input type="hidden" name="predictive-search-types" value="article-{{ settings.predictive_search_show_articles }}">
      <input type="hidden" name="predictive-search-types" value="page-{{ settings.predictive_search_show_pages }}">
      <div class="field">
        <label class="search__label field__label visually-hidden" for="Search-In-Modal">{{ 'general.search.search' | t }}</label>
        <input
          class="search__input field__input"
          id="Search-In-Modal"
          type="search"
          name="q"
          value="{{ search.terms | escape }}"
          placeholder="{{ 'general.search.search' | t }}"
          {%- if settings.predictive_search_enabled -%}
            role="combobox"
            aria-expanded="false"
            aria-owns="predictive-search-results-list"
            aria-controls="predictive-search-results-list"
            aria-haspopup="listbox"
            aria-autocomplete="list"
            autocorrect="off"
            autocomplete="off"
            autocapitalize="off"
            spellcheck="false"
          {%- endif -%}
        >
        <input name="options[prefix]" type="hidden" value="last">
        {%- if settings.predictive_search_enabled -%}
          <div class="predictive-search predictive-search--search-template" tabindex="-1" data-predictive-search>
              <div class="predictive-search__loading-state">
              </div>
          </div>
          <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
        {%- endif -%}

      <button class="search__button field__button{% if settings.show_button_ring_on_hover %} border--outline{% endif %}" aria-label="{{ 'general.search.search' | t }}">
        <svg aria-hidden="true" focusable="false" role="presentation">
          <use href="#icon-search" />
        </svg>
        {% if settings.show_search_icon_only %}
          <span class="search_label">{{ 'general.search.label' | t }}</span>
        {% endif %}
      </button>
      </div>
    </form>
  {%- if settings.predictive_search_enabled -%}
    </predictive-search>
  {%- endif -%}
</div>
        {% endif %}
        {% if section.settings.show_switcher_language %}{% render 'switcher-language' formId: 'LanguageForm', css_class: '' %}{% endif %}
        {% if section.settings.show_switcher_currency %}{% render 'switcher-currency' formId: 'CurrencyForm' %}{% endif %}
        {% if section.settings.show_switcher_country %}{% render 'switcher-country' formId: 'CountryForm' %}{% endif %}

        {%- if shop.customer_accounts_enabled -%}

  {% if customer %}
  <details-disclosure>
    <details class="disclosure">
      <summary class="button header__icon header__icon--account">
        {% render 'icons-charge' name: 'account' %}
        <span class="account-label">{{ customer.first_name }}</span>
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-caret">
          <use href="#icon-caret" />
        </svg>
      </summary>
      <div class="localization-panel disclosure__list--wrapper">
        <ul role="list" class="disclosure__list">
          <li class="disclosure__item" tabindex="-1">
            <a class="disclosure__link link--text" href="{{ routes.account_url }}">{{ 'customer.account_fallback' | t }}</a>
          </li>
          <li class="disclosure__item" tabindex="-1">
            <a class="disclosure__link link--text" href="{{ routes.account_logout_url }}">{{ 'customer.log_out' | t }}</a>
          </li>
        </ul>
      </div>
    </details>
  </details-disclosure>
  {% else %}
    <a href="{{ routes.account_login_url }}" class="button header__icon header__icon--account" title="{{ 'customer.log_in' | t }}">
      <svg aria-hidden="true" focusable="false" role="presentation" width="20" height="20" class="icon-user">
        <use href="#icon-user" />
      </svg>
      <span class="account-label">{{ 'customer.log_in' | t }}</span>
    </a>
  {%- endif -%}

{%- endif -%}


        <a href="{{ routes.cart_url }}"
          class="button header__icon header__icon--cart"
          id="cart-icon-bubble"
          title="{{ 'templates.cart.cart' | t }}"
        >
          {% render 'cart-icon-bubble-inner' cart: cart %}
        </a>
      </div>
    </div>

    {%- if section.settings.menu != blank and section.settings.use_slideout_menu == false -%}
      {%- liquid
  assign bgHighlightedItem = section.settings.first_item_bg_highlighted
  assign megaMenuList = section.settings.megamenu_items | escape | downcase | split: "," | strip
  assign smallMenuList = section.settings.smallmenu_items | escape | downcase | split: "," | strip
  assign showOverlay = section.settings.show_overlay
-%}
{% style %}
  header-menu {
    display: contents;
  }
  .full-width .container--grid .col-items .list-menu--disclosure.row-2 {
    display: grid;
    grid-template-columns: repeat({{ section.settings.main_items_per_row }}, 1fr);
    gap: 1rem;
  }
{% endstyle %}

<header-menu>
  <nav class="header__inline-menu">
    {%- if settings.check_theme_style == 'light' -%}
    <div class="header_line--divider"></div>
    {%- endif -%}
    <ul class="list-menu list-menu--inline{% if section.settings.enable_dropdown_menu_animation %} with--dropdown__menu-animation{% endif %}" role="list"
      data-activate-menu="{{ section.settings.activate_top_level_menu }}"
    >
      {%- for link in section.settings.menu.links -%}
      {%- assign indexItemMenu = forloop.index -%}
      {%- assign linkTitle = link.title | escape | downcase -%}
{% # Render dropdown Megamenu of selected top menu  %}
        {%- if megaMenuList contains linkTitle -%}
          {%- assign typeDropdownMenu = 'full-width' -%}
          <li data-items-menu
            item-index="{{ indexItemMenu }}"
            class="{% if link.current and bgHighlightedItem == false %}top__menu-item-active{% endif %} {{ typeDropdownMenu }}"
            {% if forloop.first %}data-link-highlighted="{{ bgHighlightedItem }}"{% endif %}
          >
          <details-disclosure>
  <details>
    <summary class="header__menu-item header__menu-item-top {% if bgHighlightedItem %}header__menu-item-{{ forloop.index }}-highlighted{% else %}header__menu-item-{{ forloop.index }}{% endif %} {% if link.child_active %}header__active-menu-item{% endif %} {{ typeDropdownMenu }} list-menu__item focus-inset">
      {%- if forloop.first and settings.check_theme_style == 'default' -%}{% render 'icons-charge', name: 'summary' %}{%- endif -%}
      <a href="{{ link.url }}" class="menu-item-top list-menu__item focus-inset{% if link.current %} list-menu__item--active{% endif %}"{% if link.current %} aria-current="page"{% endif %}>
        <span>{{ link.title | escape }}</span>
          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-caret"><use href="#icon-caret" /></svg>
      </a>
    </summary>
    <div class="dropdown-inner {{ typeDropdownMenu }}"{% if showOverlay %} data-megamenu-use-overlay="{{ showOverlay }}"{% endif %}>
      {%- assign itemsSize = link.links.size -%}

{% # render extra attribute to remove dropdown menu links if config option is checked using js code %}
      {%- if section.blocks.size > 0 -%}
        {%- for block in section.blocks -%}
          {%- if indexItemMenu == block.settings.item_menu_index and block.settings.disable_menu_links -%}
            <span class="item_image_link" data-item-image-index="{{ block.settings.item_menu_index }}" hidden></span>
          {%- endif -%}
        {%- endfor -%}
      {%- endif -%}
{% # end render extra attribute to remove dropdown menu links if config option is checked using js code %}

      <div class="container--grid {% if section.settings.full_width %}full--width{% else %}dynamic-page-width{% endif %}">
        <div class="col-items" data-item-index="{{ indexItemMenu }}">
        {%- if link.links != blank -%}
          <ul class="header__submenu list-menu list-menu--disclosure motion-reduce {% if itemsSize > 4 %}row-2{% endif %}" role="list" tabindex="-1" data-links-size="{{ itemsSize }}">
            {%- for childlink in link.links -%}
<li>
  {% if section.settings.collection_icon_possition == 'center'and section.settings.show_collection_icon %}
  <div class="collection-icon__center">
    {% comment %}
    Render collection icon next to a collection mame in the dropdown menu

    Accepts:
        - childlink.url: {String}
{% endcomment %}
{% assign iconWidth = section.settings.collection_icon_width %}

{%- for collection in collections -%}
    {%- unless collection.url != childlink.url -%}

        {%- if section.settings.collection_icon -%}
            {{ section.settings.collection_icon |
                image_url: width: iconWidth  |
                image_tag:
                    class: 'collection__item-image',
                    loading: 'lazy'
            }}
        {% else %}
            {% if collection.featured_image %}
                {{ collection.featured_image |
                    image_url: width: iconWidth |
                    image_tag:
                    class: 'collection__item-image',
                    loading: 'lazy'
                }}
            {% endif %}
        {%- endif -%}

    {%- endunless -%}
{%- endfor -%}
  </div>
  {% endif %}
  <details open>
    <summary class="header__menu-item menu-childitem link--text list-menu__item {% if childlink.child_active %}list-menu__item--active{% endif %} focus-inset">
      <a href="{{ childlink.url }}" class="header__menu-item list-menu__item link--text focus-inset{% if childlink.current %} list-menu__item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
        {%- if section.settings.collection_icon_possition == 'normal' and section.settings.show_collection_icon -%}
          {% comment %}
    Render collection icon next to a collection mame in the dropdown menu

    Accepts:
        - childlink.url: {String}
{% endcomment %}
{% assign iconWidth = section.settings.collection_icon_width %}

{%- for collection in collections -%}
    {%- unless collection.url != childlink.url -%}

        {%- if section.settings.collection_icon -%}
            {{ section.settings.collection_icon |
                image_url: width: iconWidth  |
                image_tag:
                    class: 'collection__item-image',
                    loading: 'lazy'
            }}
        {% else %}
            {% if collection.featured_image %}
                {{ collection.featured_image |
                    image_url: width: iconWidth |
                    image_tag:
                    class: 'collection__item-image',
                    loading: 'lazy'
                }}
            {% endif %}
        {%- endif -%}

    {%- endunless -%}
{%- endfor -%}
        {%- endif -%}
        <span>{{ childlink.title | escape }}</span>
        {%- if childlink.links != blank -%}<svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-caret"><use href="#icon-caret" /></svg>{%- endif -%}
      </a>
    </summary>
    {%- if childlink.links != blank -%}
      <ul class="childlist-menu--disclosure list-menu motion-reduce" data-type-menu="{{ typeDropdownMenu }}">
      {%- if section.settings.second_dropdown_limit_qty_categories == 0 -%}
      {%- for grandchildlink in childlink.links -%}
        <li>
          <a href="{{ grandchildlink.url }}" class="header__menu-item list-menu__item link--text focus-inset{% if grandchildlink.current %} list-menu__item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
            {{ grandchildlink.title | escape }}
          </a>
        </li>
      {%- endfor -%}
      {%- else -%}
      {%- for grandchildlink in childlink.links limit: section.settings.second_dropdown_limit_qty_categories -%}
        <li>
          <a href="{{ grandchildlink.url }}" class="header__menu-item list-menu__item link--text focus-inset{% if grandchildlink.current %} list-menu__item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
            {{ grandchildlink.title | escape }}
          </a>
        </li>
      {%- endfor -%}
      {%- if childlink.links.size > section.settings.second_dropdown_limit_qty_categories -%}
        <li>
          <a href="{{ childlink.url }}" class="header__menu-item list-menu__item link--text focus-inset link_shop-all">
            <span>{{ section.settings.second_dropdown_limit_qty_categories_link | escape }}</span>
          </a>
        </li>
      {%- endif -%}
      {%- endif -%}
      </ul>
    {%- endif-%}
  </details>
</li>
{%- endfor -%}
          </ul>
        {% endif %}

          {%- if section.blocks.size > 0 -%}
{%- for block in section.blocks -%}
  {% case block.type %}
    {% when 'image_item_menu' %}
{%- #Render Banner image and Collection list in the dropdown content -%}
      {% render 'header__dropdown--content_banner_collections'
        block: block
        blockOrder: forloop.index
        parent_item_index: indexItemMenu
      %}
{%- #Render Product list in the dropdown content -%}
    {% when 'list_product_items' %}
      {% render 'header__dropdown--list_product_items'
        block: block
        blockOrder: forloop.index
        parent_item_index: indexItemMenu
      %}
  {% endcase %}
{%- endfor -%}
{%- endif -%}
        </div>
      </div>
    </div>
    {% if showOverlay %}
    <div class="megamenu-overlay"></div>
    {% endif %}
  </details>
</details-disclosure>

{% # Render dropdown small manu of selected top menu  %}
        {%- elsif smallMenuList contains linkTitle -%}
          {%- assign typeDropdownMenu = 'small' -%}
          <li {% if forloop.first %}data-main-item-menu="true"{% else %}data-items-menu{% endif%}
            item-index="{{ indexItemMenu }}"
            class="{{ typeDropdownMenu }}{% if link.current and bgHighlightedItem == false %} top__menu-item-active{% endif %}"
            {% if forloop.first %}data-link-highlighted="{{ bgHighlightedItem }}"{% endif %}
          >
          {%- if link.links != blank -%}
<details-disclosure>
  <details>
    <summary class="header__menu-item header__menu-item-top {% if bgHighlightedItem %}header__menu-item-{{ forloop.index }}-highlighted{% else %}header__menu-item-{{ forloop.index }}{% endif %} {% if link.child_active %}header__active-menu-item{% endif %} {{ typeDropdownMenu }} list-menu__item focus-inset">
      {%- if forloop.first and settings.check_theme_style == 'default' -%}{% render 'icons-charge', name: 'summary' %}{%- endif -%}
      <a href="{{ link.url }}" class="menu-item-top list-menu__item focus-inset{% if link.current %} list-menu__item--active{% endif %}"{% if link.current %} aria-current="page"{% endif %}>
        <span>{{ link.title | escape }}</span>
          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-caret"><use href="#icon-caret" /></svg>
      </a>
    </summary>

    {% unless forloop.first %}<div class="dropdown-inner small">{% endunless %}
      <ul class="header__submenu list-menu list-menu--disclosure motion-reduce small" role="list" tabindex="-1" data-links-size="{{ itemsSize }}">
        {%- for childlink in link.links -%}
<li>{%- if childlink.links == blank -%}
    <a href="{{ childlink.url }}" class="header__menu-item list-menu__item link--text focus-inset{% if childlink.current %} list-menu__item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
      {{ childlink.title | escape }}
    </a>
  {%- else -%}
    <details>
      <summary class="header__menu-item menu-childitem link--text list-menu__item {% if childlink.child_active %}list-menu__item--active{% endif %} focus-inset">
        <a {% if section.settings.activate_top_level_menu == 'on_hover' %}href="{{ childlink.url }}"{% endif %}
          class="header__menu-item list-menu__item link--text focus-inset{% if childlink.current %} list-menu__item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
          {%- if section.settings.show_collection_icon -%}
          {% comment %}
    Render collection icon next to a collection mame in the dropdown menu

    Accepts:
        - childlink.url: {String}
{% endcomment %}
{% assign iconWidth = section.settings.collection_icon_width %}

{%- for collection in collections -%}
    {%- unless collection.url != childlink.url -%}

        {%- if section.settings.collection_icon -%}
            {{ section.settings.collection_icon |
                image_url: width: iconWidth  |
                image_tag:
                    class: 'collection__item-image',
                    loading: 'lazy'
            }}
        {% else %}
            {% if collection.featured_image %}
                {{ collection.featured_image |
                    image_url: width: iconWidth |
                    image_tag:
                    class: 'collection__item-image',
                    loading: 'lazy'
                }}
            {% endif %}
        {%- endif -%}

    {%- endunless -%}
{%- endfor -%}
          {%- endif -%}
          {{ childlink.title | escape }}
          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-caret"><use href="#icon-caret" /></svg>
        </a>
      </summary>
      <ul class="childlist-menu--disclosure list-menu motion-reduce{% if section.settings.show_collection_image %} grandchild--with__collection-image{% endif %}" data-type-menu="{{ typeDropdownMenu }}">
        {%- for grandchildlink in childlink.links -%}
          <li>
            <a href="{{ grandchildlink.url }}"
              class="header__menu-item list-menu__item link--text focus-inset{% if grandchildlink.current %} list-menu__item--active{% endif %}"
              {% if grandchildlink.current %} aria-current="page"{% endif %}
            >
              {%- if section.settings.show_collection_image -%}
                {% liquid
                  assign imageWidth = '140'
                  assign imageHeight =  imageWidth
                  assign isCollectionHasImage = false
                %}
                {%- for collection in collections -%}
                  {% unless grandchildlink.url == '/' %}
                  {%- if collection.url contains grandchildlink.url -%}
                    {% if collection.featured_image %}
                      {% assign isCollectionHasImage = true %}
                      {{ collection.featured_image | image_url: width: imageWidth, height: imageHeight | image_tag: class: 'collection-image' }}
                      {% break %}
                    {% endif %}
                  {%- endif -%}
                  {% endunless %}
                {%- endfor -%}
                {% unless isCollectionHasImage == true %}
                  {% if section.settings.collection_image != blank %}
                    {{ section.settings.collection_image | image_url: width: imageWidth, height: imageHeight | image_tag: class: 'collection-image' }}
                  {% else %}
                    {{ 'product-1' | placeholder_svg_tag:'collection-image' | width: imageWidth, height: imageHeight }}
                  {% endif %}
                {% endunless %}
                <span class="grandchildlink-title">{{ grandchildlink.title | escape }}</span>
            {% else %}
              {{ grandchildlink.title | escape }}
            {% endif %}
            </a>
          </li>
        {%- endfor -%}
      </ul>
    </details>
  {%- endif -%}
</li>
{%- endfor -%}
      </ul>
    {% unless forloop.first %}</div>{% endunless %}
  </details>
</details-disclosure>
{%- else -%}
<a href="{{ link.url }}" class="header__menu-item header__menu-item-top {% if bgHighlightedItem %}header__menu-item-{{ forloop.index }}-highlighted{% else %}header__menu-item-{{ forloop.index }}{% endif %} {% if link.current %}header__active-menu-item{% endif %} list-menu__item focus-inset"{% if link.current %} aria-current="page"{% endif %}>
  <span>{{ link.title | escape }}</span>
</a>
{%- endif -%}

        {%- else -%}
          {%- assign typeDropdownMenu = section.settings.second_level_menu_width -%}

          <li {% if typeDropdownMenu == 'small' and forloop.first %}data-main-item-menu="true"{% else %}data-items-menu{% endif%}
          item-index="{{ indexItemMenu }}"
          class="{% if link.current and bgHighlightedItem == false %}top__menu-item-active{% endif %}"
          {% if forloop.first %}data-link-highlighted="{{ bgHighlightedItem }}"{% endif %}
        >
          {%- if link.links != blank -%}
            <details-disclosure>
              <details>
                <summary class="header__menu-item header__menu-item-top {% if bgHighlightedItem %}header__menu-item-{{ forloop.index }}-highlighted{% else %}header__menu-item-{{ forloop.index }}{% endif %} {% if link.child_active %}header__active-menu-item{% endif %} {{ typeDropdownMenu }} list-menu__item focus-inset">
                  {%- if forloop.first and settings.check_theme_style == 'default' -%}{% render 'icons-charge', name: 'summary' %}{%- endif -%}
                  <a href="{{ link.url }}" class="menu-item-top list-menu__item focus-inset{% if link.current %} list-menu__item--active{% endif %}"{% if link.current %} aria-current="page"{% endif %}>
                    <span>{{ link.title | escape }}</span>
                      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-caret"><use href="#icon-caret" /></svg>
                  </a>
                </summary>
                {%- unless forloop.first and typeDropdownMenu == 'small' -%}
                  <div class="dropdown-inner {{ section.settings.second_level_menu_width }}"{% if showOverlay %} data-megamenu-use-overlay="{{ showOverlay }}"{% endif %}>
                {%- endunless -%}
                {%- assign itemsSize = link.links.size -%}

                {%- if section.blocks.size > 0 -%}
                  {%- for block in section.blocks -%}
                    {% if indexItemMenu == block.settings.item_menu_index and block.settings.disable_menu_links %}
                      <span class="item_image_link" data-item-image-index="{{ block.settings.item_menu_index }}" hidden></span>
                    {% endif %}
                  {% endfor %}
                {% endif %}

                {%- if typeDropdownMenu == 'full-width' -%}
                  <div class="container--grid {% if section.settings.full_width %}full--width{% else %}dynamic-page-width{% endif %}"{% if showOverlay %} data-megamenu-use-overlay="{{ showOverlay }}"{% endif %}>
                  <div class="col-items" data-item-index="{{ indexItemMenu }}">
                {%- endif -%}
                  <ul class="header__submenu list-menu list-menu--disclosure motion-reduce {% if itemsSize > 4 %}row-2{% endif %}" role="list" tabindex="-1" data-links-size="{{ itemsSize }}">

                    {%- if typeDropdownMenu == 'small' -%}
                      {%- for childlink in link.links -%}
<li>{%- if childlink.links == blank -%}
    <a href="{{ childlink.url }}" class="header__menu-item list-menu__item link--text focus-inset{% if childlink.current %} list-menu__item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
      {{ childlink.title | escape }}
    </a>
  {%- else -%}
    <details>
      <summary class="header__menu-item menu-childitem link--text list-menu__item {% if childlink.child_active %}list-menu__item--active{% endif %} focus-inset">
        <a {% if section.settings.activate_top_level_menu == 'on_hover' %}href="{{ childlink.url }}"{% endif %}
          class="header__menu-item list-menu__item link--text focus-inset{% if childlink.current %} list-menu__item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
          {%- if section.settings.show_collection_icon -%}
          {% comment %}
    Render collection icon next to a collection mame in the dropdown menu

    Accepts:
        - childlink.url: {String}
{% endcomment %}
{% assign iconWidth = section.settings.collection_icon_width %}

{%- for collection in collections -%}
    {%- unless collection.url != childlink.url -%}

        {%- if section.settings.collection_icon -%}
            {{ section.settings.collection_icon |
                image_url: width: iconWidth  |
                image_tag:
                    class: 'collection__item-image',
                    loading: 'lazy'
            }}
        {% else %}
            {% if collection.featured_image %}
                {{ collection.featured_image |
                    image_url: width: iconWidth |
                    image_tag:
                    class: 'collection__item-image',
                    loading: 'lazy'
                }}
            {% endif %}
        {%- endif -%}

    {%- endunless -%}
{%- endfor -%}
          {%- endif -%}
          {{ childlink.title | escape }}
          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-caret"><use href="#icon-caret" /></svg>
        </a>
      </summary>
      <ul class="childlist-menu--disclosure list-menu motion-reduce{% if section.settings.show_collection_image %} grandchild--with__collection-image{% endif %}" data-type-menu="{{ typeDropdownMenu }}">
        {%- for grandchildlink in childlink.links -%}
          <li>
            <a href="{{ grandchildlink.url }}"
              class="header__menu-item list-menu__item link--text focus-inset{% if grandchildlink.current %} list-menu__item--active{% endif %}"
              {% if grandchildlink.current %} aria-current="page"{% endif %}
            >
              {%- if section.settings.show_collection_image -%}
                {% liquid
                  assign imageWidth = '140'
                  assign imageHeight =  imageWidth
                  assign isCollectionHasImage = false
                %}
                {%- for collection in collections -%}
                  {% unless grandchildlink.url == '/' %}
                  {%- if collection.url contains grandchildlink.url -%}
                    {% if collection.featured_image %}
                      {% assign isCollectionHasImage = true %}
                      {{ collection.featured_image | image_url: width: imageWidth, height: imageHeight | image_tag: class: 'collection-image' }}
                      {% break %}
                    {% endif %}
                  {%- endif -%}
                  {% endunless %}
                {%- endfor -%}
                {% unless isCollectionHasImage == true %}
                  {% if section.settings.collection_image != blank %}
                    {{ section.settings.collection_image | image_url: width: imageWidth, height: imageHeight | image_tag: class: 'collection-image' }}
                  {% else %}
                    {{ 'product-1' | placeholder_svg_tag:'collection-image' | width: imageWidth, height: imageHeight }}
                  {% endif %}
                {% endunless %}
                <span class="grandchildlink-title">{{ grandchildlink.title | escape }}</span>
            {% else %}
              {{ grandchildlink.title | escape }}
            {% endif %}
            </a>
          </li>
        {%- endfor -%}
      </ul>
    </details>
  {%- endif -%}
</li>
{%- endfor -%}
                    {%- else -%}
                      {%- for childlink in link.links -%}
<li>
  {% if section.settings.collection_icon_possition == 'center'and section.settings.show_collection_icon %}
  <div class="collection-icon__center">
    {% comment %}
    Render collection icon next to a collection mame in the dropdown menu

    Accepts:
        - childlink.url: {String}
{% endcomment %}
{% assign iconWidth = section.settings.collection_icon_width %}

{%- for collection in collections -%}
    {%- unless collection.url != childlink.url -%}

        {%- if section.settings.collection_icon -%}
            {{ section.settings.collection_icon |
                image_url: width: iconWidth  |
                image_tag:
                    class: 'collection__item-image',
                    loading: 'lazy'
            }}
        {% else %}
            {% if collection.featured_image %}
                {{ collection.featured_image |
                    image_url: width: iconWidth |
                    image_tag:
                    class: 'collection__item-image',
                    loading: 'lazy'
                }}
            {% endif %}
        {%- endif -%}

    {%- endunless -%}
{%- endfor -%}
  </div>
  {% endif %}
  <details open>
    <summary class="header__menu-item menu-childitem link--text list-menu__item {% if childlink.child_active %}list-menu__item--active{% endif %} focus-inset">
      <a href="{{ childlink.url }}" class="header__menu-item list-menu__item link--text focus-inset{% if childlink.current %} list-menu__item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
        {%- if section.settings.collection_icon_possition == 'normal' and section.settings.show_collection_icon -%}
          {% comment %}
    Render collection icon next to a collection mame in the dropdown menu

    Accepts:
        - childlink.url: {String}
{% endcomment %}
{% assign iconWidth = section.settings.collection_icon_width %}

{%- for collection in collections -%}
    {%- unless collection.url != childlink.url -%}

        {%- if section.settings.collection_icon -%}
            {{ section.settings.collection_icon |
                image_url: width: iconWidth  |
                image_tag:
                    class: 'collection__item-image',
                    loading: 'lazy'
            }}
        {% else %}
            {% if collection.featured_image %}
                {{ collection.featured_image |
                    image_url: width: iconWidth |
                    image_tag:
                    class: 'collection__item-image',
                    loading: 'lazy'
                }}
            {% endif %}
        {%- endif -%}

    {%- endunless -%}
{%- endfor -%}
        {%- endif -%}
        <span>{{ childlink.title | escape }}</span>
        {%- if childlink.links != blank -%}<svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-caret"><use href="#icon-caret" /></svg>{%- endif -%}
      </a>
    </summary>
    {%- if childlink.links != blank -%}
      <ul class="childlist-menu--disclosure list-menu motion-reduce" data-type-menu="{{ typeDropdownMenu }}">
      {%- if section.settings.second_dropdown_limit_qty_categories == 0 -%}
      {%- for grandchildlink in childlink.links -%}
        <li>
          <a href="{{ grandchildlink.url }}" class="header__menu-item list-menu__item link--text focus-inset{% if grandchildlink.current %} list-menu__item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
            {{ grandchildlink.title | escape }}
          </a>
        </li>
      {%- endfor -%}
      {%- else -%}
      {%- for grandchildlink in childlink.links limit: section.settings.second_dropdown_limit_qty_categories -%}
        <li>
          <a href="{{ grandchildlink.url }}" class="header__menu-item list-menu__item link--text focus-inset{% if grandchildlink.current %} list-menu__item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
            {{ grandchildlink.title | escape }}
          </a>
        </li>
      {%- endfor -%}
      {%- if childlink.links.size > section.settings.second_dropdown_limit_qty_categories -%}
        <li>
          <a href="{{ childlink.url }}" class="header__menu-item list-menu__item link--text focus-inset link_shop-all">
            <span>{{ section.settings.second_dropdown_limit_qty_categories_link | escape }}</span>
          </a>
        </li>
      {%- endif -%}
      {%- endif -%}
      </ul>
    {%- endif-%}
  </details>
</li>
{%- endfor -%}
                    {%- endif -%}

                  </ul>
                {%- if typeDropdownMenu == 'full-width' -%}</div>{%- endif -%}
                {%- unless typeDropdownMenu == 'small' -%}
                {%- if section.blocks.size > 0 -%}
{%- for block in section.blocks -%}
  {% case block.type %}
    {% when 'image_item_menu' %}
{%- #Render Banner image and Collection list in the dropdown content -%}
      {% render 'header__dropdown--content_banner_collections'
        block: block
        blockOrder: forloop.index
        parent_item_index: indexItemMenu
      %}
{%- #Render Product list in the dropdown content -%}
    {% when 'list_product_items' %}
      {% render 'header__dropdown--list_product_items'
        block: block
        blockOrder: forloop.index
        parent_item_index: indexItemMenu
      %}
  {% endcase %}
{%- endfor -%}
{%- endif -%}
                {%- endunless -%}
                {%- if typeDropdownMenu == 'full-width' -%}</div>{%- endif -%}
                {%- unless forloop.first and typeDropdownMenu == 'small' -%}</div>{%- endunless -%}
              </details>
            </details-disclosure>
          {%- else -%}
            <a href="{{ link.url }}" class="header__menu-item header__menu-item-top {% if bgHighlightedItem %}header__menu-item-{{ forloop.index }}-highlighted{% else %}header__menu-item-{{ forloop.index }}{% endif %} {% if link.current %}header__active-menu-item{% endif %} list-menu__item focus-inset"{% if link.current %} aria-current="page"{% endif %}>
              <span>{{ link.title | escape }}</span>
            </a>
          {%- endif -%}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  </nav>
</header-menu>
    {%- endif -%}

  </header>
{% endcapture -%}

{%- if section.settings.enable_sticky_header -%}
  <sticky-header class="header-wrapper">{{ header_html}}</sticky-header>
{%- else -%}
  <div class="header-wrapper">{{header_html }}</div>
{%- endif -%}
<div class="header-menu__overlay-element"></div>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if section.settings.logo %}
      {% assign image_size = section.settings.logo.width | append: 'x' %}
      "logo": {{ section.settings.logo | image_url: image_size | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ shop.url | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = shop.url | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ shop.url | append: page.url | json }}
    }
  </script>
{%- endif -%}

<script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>

{% if section.settings.enable_sticky_header %}
<script src="{{ 'sticky-header.js' | asset_url }}" defer="defer"></script>
{% endif %}

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header-transition",
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.header.settings.full_width.label",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.header.settings.logo.label"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 100,
      "unit": "t:sections.header.settings.logo_width.unit",
      "label": "t:sections.header.settings.logo_width.label"
    },
    {
      "type": "checkbox",
      "id": "dislay_shopname_on_mobile",
      "label": "t:sections.header.settings.dislay_shopname_on_mobile.label",
      "info": "t:sections.header.settings.dislay_shopname_on_mobile.info",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_switcher_language",
      "label": "t:sections.header.settings.show_switcher_language.label",
      "info": "t:sections.header.settings.show_switcher_language.info",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_switcher_country",
      "label": "t:sections.header.settings.show_switcher_country.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_header",
      "default": true,
      "label": "t:sections.header.settings.enable_sticky_header.label",
      "info": "t:sections.header.settings.enable_sticky_header.info"
    },
    {
      "type": "checkbox",
      "id": "add_border_searchfield",
      "default": false,
      "label": "t:sections.header.settings.add_border_searchfield.label",
      "info": "t:sections.header.settings.add_border_searchfield.info"
    },
    {
      "type": "checkbox",
      "id": "add_border_bottom",
      "default": false,
      "label": "t:sections.header.settings.add_border_bottom.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header_1.content"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "checkbox",
      "id": "use_slideout_menu",
      "label": "t:sections.header.settings.use_slideout_menu.label",
      "default": false
    },
    {
      "type": "select",
      "id": "second_level_menu_width",
      "options": [
        {
          "value": "full-width",
          "label": "t:sections.header.settings.second_level_menu_width.options__2"
        },
        {
          "value": "small",
          "label": "t:sections.header.settings.second_level_menu_width.options__4"
        }
      ],
      "default": "full-width",
      "label": "t:sections.header.settings.second_level_menu_width.label"
    },
    {
      "type": "text",
      "id": "megamenu_items",
      "label": "t:sections.header.settings.megamenu_items.label",
      "info": "t:sections.header.settings.megamenu_items.info"
    },
    {
      "type": "text",
      "id": "smallmenu_items",
      "label": "t:sections.header.settings.smallmenu_items.label",
      "info": "t:sections.header.settings.smallmenu_items.info"
    },
    {
      "type": "select",
      "id": "activate_top_level_menu",
      "options": [
        {
          "value": "on_hover",
          "label": "t:sections.header.settings.activate_top_level_menu.on_hover"
        },
        {
          "value": "on_click",
          "label": "t:sections.header.settings.activate_top_level_menu.on_click"
        }
      ],
      "default": "on_hover",
      "label": "t:sections.header.settings.activate_top_level_menu.label"
    },
    {
      "type": "checkbox",
      "id": "first_item_bg_highlighted",
      "label": "t:sections.header.settings.first_item_bg_highlighted.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_dropdown_menu_animation",
      "label": "t:sections.header.settings.enable_dropdown_menu_animation.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_overlay",
      "label": "t:sections.header.settings.show_overlay.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_collection_icon",
      "label": "t:sections.header.settings.show_collection_icon.label",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "collection_icon",
      "label": "t:sections.header.settings.collection_icon.label",
      "info": "t:sections.header.settings.collection_icon.info"
    },
    {
      "type":"range",
      "id": "collection_icon_width",
      "min": 20,
      "max": 50,
      "step": 5,
      "default": 30,
      "unit": "t:sections.header.settings.logo_width.unit",
      "label": "t:sections.header.settings.collection_icon_width.label"
    },
    {
      "type": "select",
      "id": "collection_icon_possition",
      "options": [
        {
          "value": "normal",
          "label": "t:sections.header.blocks.settings.alignment.options.default"
        },
        {
          "value": "center",
          "label": "t:sections.header.blocks.settings.alignment.options.center"
        }
      ],
      "default": "center",
      "label": "t:sections.header.blocks.settings.alignment.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header_3.content"
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "label": "t:sections.header.settings.show_collection_image.label"
    },
    {
      "type": "image_picker",
      "id": "collection_image",
      "label": "t:sections.header.settings.collection_image.label",
      "info": "t:sections.header.settings.collection_image.info"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header_2.content"
    },
    {
      "type": "range",
      "id": "main_items_per_row",
      "min": 3,
      "max":  6,
      "step": 1,
      "default": 4,
      "label": "t:sections.header.settings.main_items_per_row.label"
    },
    {
      "type": "text",
      "id": "second_dropdown_limit_qty_categories_link",
      "label": "t:sections.header.settings.second_dropdown_limit_qty_categories_link.label",
      "default": "Shop All"
    },
    {
      "type": "number",
      "id": "second_dropdown_limit_qty_categories",
      "label": "t:sections.header.settings.second_dropdown_limit_qty_categories.label",
      "default": 5
    }
  ],
  "max_blocks": 20,
  "blocks": [
    {
      "type": "image_item_menu",
      "name": "t:sections.header.blocks.name",
      "settings": [
        {
          "type": "checkbox",
          "id": "enabled",
          "label": "t:sections.header.blocks.settings.enabled.label",
          "info": "t:sections.header.blocks.settings.enabled.info",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "disable_menu_links",
          "label": "t:sections.header.blocks.settings.disable_menu_links.label",
          "info": "You can remove menu items and show the Image banner or Collection list in the dropdown.",
          "default": false
        },
        {
          "type": "select",
          "id": "alignment",
          "options": [
            {
              "value": "normal",
              "label": "t:sections.header.blocks.settings.alignment.options.default"
            },
            {
              "value": "center",
              "label": "t:sections.header.blocks.settings.alignment.options.center"
            }
          ],
          "default": "normal",
          "label": "t:sections.header.blocks.settings.alignment.label",
          "info": "t:sections.header.blocks.settings.alignment.info"
        },
        {
          "type": "header",
          "content": "t:sections.header.blocks.settings.header_1.content"
        },
        {
          "type": "image_picker",
          "id": "item_image",
          "label": "t:sections.header.blocks.settings.item_image"
        },
        {
          "type":"range",
          "id": "banner_width",
          "min": 10,
          "max": 100,
          "step": 5,
          "default": 100,
          "unit": "t:sections.header.blocks.settings.banner_width.unit",
          "label": "t:sections.header.blocks.settings.banner_width.label"
        },
        {
          "type": "number",
          "id": "item_menu_index",
          "label": "t:sections.header.blocks.settings.item_menu_index.label",
          "default": 1
        },
        {
          "type": "url",
          "id": "image_link",
          "label": "t:sections.header.blocks.settings.image_link"
        },
        {
          "type": "text",
          "id": "image_title",
          "label": "t:sections.header.blocks.settings.image_title"
        },
        {
          "type": "header",
          "content": "t:sections.header.blocks.settings.header_2.content"
        },
        {
          "type": "collection_list",
          "id": "collections",
          "label": "t:sections.header.blocks.settings.collections"
        },
        {
          "type": "url",
          "id": "collection_url",
          "label": "t:sections.our-list-collections.settings.collection_url.label"
        },
        {
          "type": "select",
          "id": "view_all_appearance",
          "options": [
            {
              "value": "button",
              "label": "t:sections.featured-collection.settings.view_all_appearance.options.button"
            },
            {
              "value": "link",
              "label": "t:sections.featured-collection.settings.view_all_appearance.options.link"
            }
          ],
          "default": "button",
          "label": "t:sections.featured-collection.settings.view_all_appearance.label"
        },
        {
          "type":"range",
          "id": "collection_items_width",
          "min": 10,
          "max": 50,
          "step": 2,
          "default": 20,
          "unit": "t:sections.header.blocks.settings.collection_items_width.unit",
          "label": "t:sections.header.blocks.settings.collection_items_width.label"
        }
      ]
    },
    {
      "type": "list_product_items",
      "name": "t:sections.header.blocks.list_product_items.name",
      "settings": [
        {
          "type": "checkbox",
          "id": "disable_menu_links",
          "label": "t:sections.header.blocks.settings.disable_menu_links.label",
          "info": "t:sections.header.blocks.settings.disable_menu_links.info",
          "default": false
        },
        {
          "type": "collection",
          "id": "product_list",
          "label": "t:sections.header.blocks.settings.product_list"
        },
        {
          "type": "range",
          "id": "products_to_show",
          "min": 2,
          "max": 12,
          "step": 1,
          "default": 5,
          "label": "t:sections.featured-collection.settings.products_to_show.label"
        },
        {
          "type":"range",
          "id": "items_width",
          "min": 10,
          "max": 50,
          "step": 2,
          "default": 18,
          "unit": "t:sections.header.blocks.settings.items_width.unit",
          "label": "t:sections.header.blocks.settings.items_width.label"
        },
        {
          "type": "number",
          "id": "item_menu_index",
          "label": "t:sections.header.blocks.settings.item_menu_index.label",
          "default": 1
        },
        {
          "type": "url",
          "id": "collection_url",
          "label": "t:sections.our-list-collections.settings.collection_url.label"
        },
        {
          "type": "select",
          "id": "view_all_appearance",
          "options": [
            {
              "value": "button",
              "label": "t:sections.featured-collection.settings.view_all_appearance.options.button"
            },
            {
              "value": "link",
              "label": "t:sections.featured-collection.settings.view_all_appearance.options.link"
            }
          ],
          "default": "button",
          "label": "t:sections.featured-collection.settings.view_all_appearance.label"
        },
        {
          "type": "checkbox",
          "id": "show_product_price",
          "label": "t:sections.header.blocks.settings.show_product_price.label",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_badge",
          "label": "t:sections.header.blocks.settings.show_badge.label",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_outline_border",
          "label": "t:sections.header.blocks.settings.show_outline_border.label",
          "default": true
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.header.presets.name"
    }
  ],
  "enabled_on": {
    "groups": ["header"]
  }
}

{% endschema %}
